[2018-06-01 22:14] vinny1575 opened #1 "Lights"
Thanks for making this! Any plan to add the lights?

[2018-06-16 20:01] mtcjmmy opened #2 "Homekit showing fans on when they are not. Is this a known issue or just me"

[2018-06-16 20:02] mtcjmmy commented on #2
Any help would be greatly appreciated

[2018-07-31 17:34] twentyNoise opened #4 "6 Fan Speeds"
Our fans have 6 fan speeds. It would be great if the Fan resolution was split into 6 or something similar. Thanks!

[2018-09-27 18:52] twentyNoise commented on #2
I have this issue as well.

[2018-11-03 05:15] iRayanKhan commented on #4
I do believe this is a limitation on bond's end as iirc bond supports unto 3 fan speeds. Maybe create another bond fan with the other 3 controls?

[2018-11-03 05:15] iRayanKhan commented on #1
Resolved: #3

[2018-11-03 05:16] iRayanKhan commented on #2
Going to test it to make sure and see if I can find a fix. If the device is fully powered off eg: a switch, then I am pretty sure nothing can be done.

[2018-11-03 20:48] iRayanKhan opened #7 "TypeError: Cannot read property 'email' of null"
Hello, I just installed this plugin with no bond fans set up idk if this is the issue, but if it is please lmk. My unit comes by Thursday.

#Config:
[code]
And with this I get the error:
Load homebridge-bond.Bond
/usr/local/lib/node_modules/homebridge-bond/dist/index.js:10
        let email = config['email'];
                          ^

TypeError: Cannot read property 'email' of null
    at new B

[2018-11-04 02:14] plainsane commented on #7
You need to configure,your credentials for bond.

In your config, add the platforms,section and provide your Creds
"bridge": {
        "name": "Homebridge",
        "username": "CC:22:3D:E3:CE:30",
        "port": 51826,
        "pin": "031-45-154"
    },
        "platforms":[{
                    "platform": "Bond",
                    "email": "",
                    "password": ""
        }],

[2018-11-04 02:28] plainsane commented on #4
See if my pull request helps.  I was having a handful of issues, speed, losing fan state on reboot and general out of sync issues.  I added an additional switch so that I can reset the state of the light and fan speed inside Homekit.

I think the speed issue is caused by the fact that Homekit can send a rotation update followed by a power on to the fan, which the code would call the power on metho

[2018-11-04 04:52] iRayanKhan commented on #7
I have my credentials in there, just removed them so people don't login to my account

[2018-11-04 04:54] iRayanKhan commented on #7
I have no fans synced with my bond, yet I just wanted to make sure the plugin works while my unit arrives Thursday. Is this why it may not be working?

[2018-11-04 05:07] iRayanKhan commented on #7
OMG I got it I figured out why it wouldn't work. It had to be at the top of the platforms since it was trying to be a switch. Thanks for the reply!

[2018-11-04 05:07] #7 closed

[2018-11-04 23:35] iRayanKhan commented on #4
@plainsane How do I install your version via npm?

[2018-11-06 23:53] iRayanKhan commented on #2
Hey @plainsane using your version it would crash and give me this error:
[2018-11-6 23:46:54] [Bond] 1 cached accessories were loaded
[2018-11-6 23:46:54] Homebridge is running on port 51826.
[2018-11-6 23:46:54] [homebridge-tplink-smarthome.TplinkSmarthome] New Device Online: [My Smart Plug] plug [8006428AA29F7C0F1E774A04D4AE0C411A1C79F6] 10.0.0.5 9999
[2018-11-6 23:46:54] [homebridge-tplink-smar

[2018-11-07 03:58] iRayanKhan opened #8 "For a future PR/Suggestion"
I understand this project hasn't been touched on much by the creator as he may be busy idk.

Anyways cutting to the point here are my issues with this plugin and things other forks haven't done or have done, but no longer work:

1) Fan Speeds
- I have a 3 Fan speed System and when using HomeKit and putting my fan to speed 100% it only goes to what speed 2 on my fan would be. The Bond app does Spee

[2018-11-14 16:56] #8 closed

[2018-11-20 23:53] iRayanKhan commented on #4
Fixed: #5

[2018-11-20 23:53] iRayanKhan commented on #2
Fixed #5

[2018-11-26 04:48] fancypants66 commented on #7
I had a similar error but at a different location. Checked my config and even tried the version in config.example.json without success.
`Load homebridge-bond.Bond
/usr/lib/node_modules/homebridge-bond/dist/index.js:10
        let email = config['email'];
                          ^

TypeError: Cannot read property 'email' of null
    at new BondPlatform (/usr/lib/node_modules/homebridge-bond/dist/

[2018-11-29 19:22] MackleMonster opened #9 "Fireplace mode"
Bond added fireplace compatibility. Simple on-off commands. Is there any chance this functionality could be added to homebridge-bond? (I have no idea how to do it myself...). Thanks

[2018-11-30 18:33] iRayanKhan commented on #9
@plainsane. I could give a shot at it. For what accessory it should show I am conflicted with a lightbulb only if you can control the flame's height. If it's just a simple on off then a switch or a plug accessory. There is a unofficial bond api which would need to be updated first .

[2018-11-30 19:07] MackleMonster commented on #9
@iRayanKhan Hey Ryan, that would be great if you wanted to do it... It's a simple two button action, on and off, that's it. A switch would work just fine.

You're saying Bond needs to update their API first?

[2018-12-01 07:18] raygan opened #10 "Crashes homebridge when activating a “button” that doesn’t exist in Bond"
I have my fans connected to smart switches for on/off and only use Bond for speed control, so I don’t have the Power button from my remote added to Bond. (That helps keep me from having situations whe the fan is on at the Switch but off on the remote.)

When I use the plugin it crashes homebridge any time the Bond fan state changes to Off. Here’s what I see in the log:

[code]

[2018-12-02 03:13] plainsane commented on #10
I’ll see if I can take a look in a couple of days

[2018-12-02 03:14] plainsane commented on #9
Yea cool, go for it, it’s going to be a couple of days.  We probably need to start breaking apart the structure, because right now, we assume fan.

[2018-12-03 16:02] iRayanKhan commented on #9
@MackleMonster Bond it's self doesn't have an Api someone just reversed it and made it. They need to update it or I can try to reverse it. Then We can integrate it into here. I'm going to make the accessory a switch accessory. And @plainsane what if in the config for the plugin it would be:
[code]

[2018-12-04 00:42] mbriney opened #11 "Latest release crashes on startup"
Something has gone wrong with the latest release on my system.  It is possible to post a previous version number?

[code]

[2018-12-04 05:01] plainsane commented on #11
0.1.1 was previous version
https://www.npmjs.com/package/homebridge-bond/v/0.1.1
What version are you running because this error acts like it can’t read your config correctly

[2018-12-04 07:02] iRayanKhan commented on #11
Make sure this is installed globally
[code]

[2018-12-05 01:30] twentyNoise commented on #4
I finally got around to upgrading to the latest version and the reliability issues, speed change issues are fixed.

For the 6 Fan Speeds I once again just edited the Index.js to support the 6 speeds. Someone more versed in js than myself should simply code this to base the number of speeds on what is shown in the Bond account.

Anyway, the plugin is MUCH more reliable now with your updates.

Thank

[2018-12-05 16:41] iRayanKhan commented on #11
And it may help to delete the bond cache since it's what I did

[2018-12-05 21:16] mbriney commented on #11
How do you delete the cache?

[2018-12-17 19:52] miket0429 commented on #11
I have the same issue with 0.2.0. Coming from 0.1.1 or 0.1.0, everything was fine before trying to upgrade.

[2018-12-17 21:41] mbriney commented on #11
@miket0429 how did you manually roll it back?  I only see one official release for 0.2.0.

[2018-12-29 00:38] plainsane commented on #11
This is most likely caused by the reverse switch since I removed it, as it was superfluous after adding a direction characteristic to the fan

[2019-01-03 01:42] Fernyman79 opened #12 "Only publish to HomeKit the controls configured in the Bond app."
In the Bond app, after configuring your fan, you can remove unnecessary/unwanted controls. In my case, I only need the Fan controls, since my fan lights are hard-wired to a switch in the wall.

The plugin, however, makes the deleted light controls available in HomeKit. Would be great to display the controls in the Home app exactly as they are in the Bond app.

[2019-01-07 23:57] iRayanKhan commented on #12
Try Deleting the cache of the bond plugin

[2019-01-31 03:32] sofakingcopter opened #13 "It appears to be working but I do not see any devices in my home app"
It looks like the plugin is running:
Jan 23 15:15:46 Heli-Pi homebridge[21488]: [2019-1-23 15:15:46] Loaded plugin: homebridge-bond
Jan 23 15:15:46 Heli-Pi homebridge[21488]: [2019-1-23 15:15:46] Registering platform 'homebridge-bond.Bond’

my config.json file has:
{
                        "email": “xxx@.com",
                        "password": “xxxx",
                        "Living Room": "AJ1

[2019-01-31 04:36] sofakingcopter commented on #13
As requested entire config.json

{
        "bridge": {
                "name": "Heli-Homebridge",
                "username": "CD:22:3D:E3:CE:04",
                "port": 51826,
                "pin": "777-42-596"
        },
        "accessories": [{
                        "name": "Minerva",
                        "accessory": "NetworkDevice",
                        "pingInterval": "15",

[2019-01-31 05:05] iRayanKhan commented on #13
So what I don't get from you config is, why is the ```"Living Room": "AJ12191",``` line in your bond config it should only be:
[code]
Try out this config:
[code]

[2019-01-31 05:16] sofakingcopter commented on #13
Thanks I put in your config.json.  No change in behavior.  I still can't see my fans:

Jan 31 05:13:14 Heli-Pi systemd[1]: Started Node.js HomeKit Server.
Jan 31 05:13:16 Heli-Pi homebridge[608]: [2019-1-31 05:13:16] Loaded config.json with 3 accessories and 4 platforms.
Jan 31 05:13:16 Heli-Pi homebridge[608]: [2019-1-31 05:13:16] ---
Jan 31 05:13:17 Heli-Pi homebridge[608]: [2019-1-31 05:13:17]

[2019-02-02 21:07] dkahia opened #14 "‘Null’ accessories"
I bought my Bond the last week of December 2018. I installed the Bond plugin and configured my credentials according to the sample json config. My first ceiling fan partially loaded with some switches available, but some were labeled ‘null’, and all the other ceiling fans also showed ‘null’ (the word null) descriptions. No devices were controlled in any way via Homekit.

I’ve tried several times t

[2019-02-03 15:36] iRayanKhan commented on #14
Did you try removing the bridge from homekit, persist and accessory folder?

[2019-02-03 15:57] dkahia commented on #14
I have not tried removing Homebridge from Homekit. I assume I will need to redo all my automation after re-adding Homebridge? Also, I am not clear on what you mean by “persist and accessory folder”.

[2019-02-03 23:00] iRayanKhan commented on #14
Yes you will have to redo the automations and those folder are in the .homebridge folder

Sent from my iPhone

[2019-02-08 19:18] sofakingcopter commented on #13
Anyone have any other ideas?  It looks to be working, but I do not see my fans in the home app.

[2019-02-09 19:43] Tangston311 commented on #9
@iRayanKhan , just curious if there’s any update on the fireplace switch accessory - I’m looking to get a Bond to control my fireplaces and this would be perfect!

[2019-02-10 22:03] dkahia commented on #14
I managed to get a few more Bond devices to apprear in Homekit. It’s seems that they are loading with names reflecting the Bond app location values rather than the names assigned in the Bond app. Even still, I am getting a few with ‘null’ in their name. The ones that load with proper looking values still won’t respond when activating their switches, and Homebridge crashes.

I’m attempting to set u

[2019-02-16 20:42] dkahia commented on #14
Fresh Linux VM, NodeJS, Homebridge and only the Bond plugin. Four ceiling fans in Bond, and all  assigned unique locations, even if they didn’t correspond to places in the house. Fired up Homebridge and added the bridge to Homekit. All 4 devices were added to Homekit, one named Master Bedroom, two named Playroom and one named “null”.  Bond location values of Lounge and Portable must have translate

[2019-02-27 03:06] plainsane commented on #14
Can you post the stack trace?

[2019-02-27 03:10] plainsane commented on #14
I’ve been looking at this off and on, I had a bunch of null devices show up one day after a restart...looks like I’m getting them back via their rest api.

[2019-02-27 06:19] plainsane commented on #14
Yea, the null names are coming back from their api.  It’s undocumented api so there might be a better way.  For now just rename them in the home app

[2019-02-27 06:26] plainsane commented on #13
Run this on your pi, be sure to set user/pass, do you get data?
[code]

[2019-02-27 06:29] plainsane commented on #12
Yes, the code assumes you are enabling all that, I’ll try to swing around on it later...it’s going to be a forklift operation I feel.

[2019-02-27 06:52] sofakingcopter commented on #13
No it appears to have failed:

pi@Heli-Pi:~$ resp=$(curl -X POST -d "$doc" -H "Content-Type: application/json" $url)
key=$(echo "$resp" | jq -r .key)
curl -H "Authorization: Token $key" https://appbond.com/api/v1/bonds/
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   178    0   109

[2019-03-01 04:36] plainsane commented on #13
aptitude install jq
Then rerun

[2019-03-01 04:42] sofakingcopter commented on #13
Thanks did that.  I stopped and started my homebridge.  I still don't see my fans, should I remove my homebridge and re-add it to home?

[2019-03-04 12:20] plainsane commented on #13
Well, I wanted to see the out of that script.  It is not intended to fix your homebridge setup, just show how your devices are being reported by the bond api.

What does the output look like>

[2019-03-04 17:46] sofakingcopter commented on #13
That was the output.

[2019-03-06 03:20] plainsane commented on #13
Oh, I missed the invalid toke.  You need to set your bond user, pass on lines 4 and 5

[2019-03-06 03:20] dkahia commented on #14
Do you still want a stack trace?  I’d need some instructions to pull it for you.

[2019-03-06 03:25] dkahia commented on #14
I thought the nulls might be causing Homebridge to crash. Doesn’t matter if I rename them, they don’t do anything except cause the Homebridge server to crash. That’s one of the reasons I set up a separate VM to test this plugin. Based on what I can read of the log, the callback function seems to be the cause - part if it scrolls off the top of the screen.

[2019-03-06 06:13] sofakingcopter commented on #13
I didn't realize I had to put it in twice:

pi@Heli-Pi:/var/homebridge/.homebridge$ resp=$(curl -X POST -d "$doc" -H "Content-Type: application/json" $url)
key=$(echo "$resp" | jq -r .key)
curl -H "Authorization: Token $key" https://appbond.com/api/v1/bonds/
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spen

[2019-03-06 08:03] cargueta001 commented on #13
Since the recent bond firmware release, I'm also not able to control my fan/light that previously worked. Upon reviewing the logs, it's showing an error timed out. See here:

homebridge_1  | [3/6/2019, 7:57:47 AM] [Bond] { RequestError: Error: connect ETIMEDOUT 198.105.244.228:4433
homebridge_1  |     at new RequestError (/homebridge/node_modules/request-promise-core/lib/errors.js:14:15)
homebridg

[2019-03-07 01:34] plainsane commented on #13
Bounce your bond, I just upgraded and 1 of my 2 was not happy until I power cycled it

[2019-03-07 01:47] cargueta001 commented on #13
I wish that were the case 😔 I've tried to power cycle, reset the wifi on the bond, re-add the bond to my wifi, remove and re-add the fans/lights and also completely reinstall homebridge with the plugin as the only accessory. I'm completely stumped 🤷🏻‍♂️

[2019-03-07 01:50] plainsane commented on #13
I still don’t see a json document, let’s try this:
curl
https://raw.githubusercontent.com/plainsane/scripts/master/testBond.sh
chmod +x testBond.sh

Now edit that file and change username/pass on lines 4/5
Then run it with
./testBond.sh

[2019-03-07 01:54] plainsane commented on #13
So I’m pretty sure it relies on the bonjour protocol to resolve the dns name of you bond device that is on your local network...you must be getting a stale ip.  What version of nodejs are you running?

[2019-03-07 02:29] cargueta001 commented on #13
Currently running 10.15.2.

[2019-03-07 02:30] cargueta001 commented on #13
I also agree its translating to a stale IP because as soon as I activate the fan in homebridge I get a constant spinning wheel.

[2019-03-07 02:45] sofakingcopter commented on #13
This is the output I get:

pi@Heli-Pi:/var/homebridge$ resp=$(curl -X POST -d "$doc" -H "Content-Type: application/json" $url)
key=$(echo "$resp" | jq -r .key)
curl -H "Authorization: Token $key" https://appbond.com/api/v1/bonds/  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   174

[2019-03-07 03:50] plainsane commented on #13
Then I guess the user/password is incorrect.  Do you have the proper account cress?

[2019-03-07 03:57] plainsane commented on #13
Try bouncing avahi
sudo systemctl restart avahi-daemon

[2019-03-07 04:01] sofakingcopter commented on #13
Yes I have the correct username and password.

[2019-03-07 04:11] cargueta001 commented on #13
Like @sofakingcopter, the user/password are correct. I have confirmed this various ways, including running the Bond app on iOS. Something may have changed in the Bond API that was pushed in their latest firmware and the original code is no longer valid.

[2019-03-07 18:11] ylor opened #16 "Switch to Local API"
Switching to the local will likely be a net win all around.

Beta sign up: https://forum.bondhome.io/t/bond-local-api-beta-sign-up/250
Local API docs: http://docs-local.appbond.com/#section/Glossary/BOND-Bridge

[2019-03-08 02:04] plainsane commented on #13
Maybe, I have upgraded and it is still working for me, sorry, I’m out of ideas.

[2019-03-08 17:30] sofakingcopter commented on #13
To be fair, mine has never worked.  I guess I'm just the lucky one lol.

[2019-03-11 01:37] dkahia commented on #14
![91403251-3F59-423B-B3BD-3FAA6197F710](https://user-images.githubusercontent.com/47283213/54095262-85f8a900-4363-11e9-8e6b-6a1b86d2a883.jpeg)

[2019-03-20 01:10] dkahia commented on #14
Seems that the Avahi Library was either not installed or not installed properly. Installed, and it seems to working on the testing VM. Next, I’ll review the original VM and plan to get the Bond plugin working there.

Hoping that this plugin will be updated to the new local API v2 and that it will resolve the issue with the device names coming in as null.

[2019-03-20 01:10] #14 closed

[2019-03-25 15:27] jimboslicethat opened #17 "README"
Could the README get some love? Im considering purchasing Bond, but wanted to see how hard this is to get setup. I have to go look through the actual code to see how the config should look.

[2019-03-25 15:49] jimboslicethat commented on #17
Found the `config.example.json`

[2019-03-25 15:49] #17 closed

[2019-03-27 04:45] cargueta001 commented on #13
![IMG_1422](https://user-images.githubusercontent.com/48275759/55050726-70e07300-500f-11e9-9728-ca582c30d073.PNG)

After the recent Homebridge update, I decided to reinstall the Bond plugin thinking that it might work again, but unfortunately, I'm still receiving the following error in the code.

[2019-04-14 00:20] zwoop opened #18 "Is this being worked on?"
I tried using this plugin with my Bond device, but even though it's identifying the accessory etc., it's not working at all. I'm guessing (but certainly not sure) that it's because my ceiling fan remote does not have variable speed, but 0-1-2-3. I guess I would have expected this to map to 0% - 33% - 67% - 100%, but a) it does not work at all (no percentages work) and b) I can only set it to 33% a

[2019-04-14 00:30] zwoop commented on #13
I got mine to identify the ceiling fan, but when I try any of the "actions", I get

[code]

I'm *guessing* that something in the mapping here points to a non-existent Bond API device? My ceiling fan does not have a variable speed, but rather 0-1-2-3, maybe that's the problem? I was not given any options though upon initializing the Bond device in my HomeBridge / Kit.

Any thoughts?

[2019-04-14 01:18] cargueta001 commented on #18
@zwoop It appears that the original developer of this plugin is no longer working on this. It's dated as of 5 months ago since the last update. A few people have somehow gotten this to work but I have posted in a previous thread that the new Bond API perhaps broke the plugin rendering it useless to several of us. It was working for me prior and am disappointed that we are unable to use it. I have,

[2019-04-14 03:51] jimboslicethat commented on #18
Yes, I am having the same issue @zwoop. The accessories make it to homekit, but they dont actually do anything.

It appears that bond is moving to their V2 API, which they are calling [Local API](https://forum.bondhome.io/t/bond-local-api-beta-sign-up/250), and it is currently in beta. Which means that if you wanted to rip out the current code that does the existing API call to bond, youd need to

[2019-05-01 17:52] cargueta001 commented on #18
@jimboslicethat Apologies for the late response. But I do want to show you how I was able to successfully implement the Bond accessories.

I followed [this thread](https://www.reddit.com/r/homebridge/comments/868wiy/bond_plugin_for_homebridge/?depth=1) to create the basis of controlling the Bond through [IFTTT](https://ifttt.com/bond) which is then connected via a [Homebridge plugin](https://githu

[2019-05-09 06:20] roycepope opened #20 "Bad Gateway on initialization"
When I start homebridge with this plugin loaded I am prompted with the following error. Anybody have any ideas on what the issue is here?

[code]

[2019-05-09 13:35] vdotn commented on #18
Yes, this plugin still works with Bond. I use it daily.

What you’re seeing is the behavior when an api call fails. I had the same problem and debugged it to be a dns issue, where a .local is hardcored in the URL. I patched it on my machine some time ago but yesterday submitted a pull request which I believe will address the issue.

You should be able to see in your logs if an api call fails and t

[2019-06-05 15:51] jimboslicethat commented on #18
@vdotn it depends on what version of firmware you are on. You're Bond is probably on the older firmware version which explains why the plugin is still working (The older firmware version is tied to the API that this plugin was originally written for).

[2019-06-05 16:18] vdotn commented on #18
Was there a new hardware rev tied with new firmware? Mine is showing FW 1.138.1 and when I do check for updates it says no new updates available.

[2019-06-11 08:18] iRayanKhan opened #21 "iOS 13"
Hello everyone,

So iOS 13 is now in the hands of developers and there's been some changed to the Home App.

Fans now group accessories with them, so the Fan and Light Accessory and now 1 (Still 2 accessories just show as 1 under the same icon). Now it also added the Fan Reset switch in it so you see the Fan Reset and Fan Light together. I was wondering if anyone could make a PR or a branch based

[2019-06-11 14:59] iRayanKhan commented on #9
@Tangston311 the api hasn't been touched yet iirc if so the plugin may need a re-write based off #19

[2019-06-13 21:23] plainsane commented on #21
ill take a look at some point but im wrapped up at the moment.

[2019-06-16 00:49] plapke commented on #18
So my firmware version is 1.138.3 (1), does that mean this will no longer work for me?  I am just now trying to get it set up.  I can see the fan/light in my home app and in the app it says that the light comes "on" but nothing actually happens.  And when I try to turn the fan on it won't go above 0%.  And the reset fan won't switch off of "off".  Is there anything I do to make it work?

[2019-06-16 01:28] vdotn commented on #18
That bounce-back behavior on the fan happens when the command fails to run. Check your log for anything useful. This works with the 1.x firmware train.

[2019-06-16 02:29] plapke commented on #18
So honestly I'm not sure what I'm looking for in the log.

Attached is a copy of them, any chance you can take a look to see if you see anything?

[bond log.pdf](https://github.com/edc1591/homebridge-bond/files/3293766/bond.log.pdf)

[2019-06-16 03:09] vdotn commented on #21
I don’t currently have a device I’m willing to sacrifice to beta1, but I’ll try to take a look at it once the public beta is released.

[2019-06-16 03:11] vdotn commented on #18
You’re getting dns time-out. Can you test my PR? I saw your exact issue and believe I fixed it here: https://github.com/edc1591/homebridge-bond/pull/19

Out of curiosity, are you using Eero routers?

[2019-06-16 03:49] plapke commented on #18
I tried your PR, and forgive me I'm new to this, initially I uninstalled the original plugin, but then it gave me an error that "Error: The requested platform 'Bond' was not registered by any plugin."

I'm guessing that wasn't supposed to happen and I did something wrong

[2019-06-16 04:06] plapke commented on #18
I looked at the files you modified (bond.js, bond.ts, index.ts, index.js), and tried to make those changes in the files in the homebridge-bond files that were originally from the plugin, but that didn't seem to change anything...again, very new at this so sorry if i'm doing something wrong that should be obvious

[2019-06-16 05:56] iRayanKhan commented on #21
@vdotn I made a fork that removes the Fan Reset device, which we still need, but I'm not experienced enough to separate the accessory from being merged.

[2019-06-16 12:05] vdotn commented on #18
Ok no worries. Reason I asked if you use Eero is because they don’t support local dns and I had to do some crazy sh*t to get it to work on mine.

Well turns out, Orbi seems to be the same! See this thread: https://community.netgear.com/t5/Idea-Exchange-For-Home/orbi-add-dns-server/idc-p/1632085

I bet you can work around this by creating a static entry in your OS’s hosts file. If you don’t know ho

[2019-06-24 16:36] DCMarine opened #22 "Ability to Assign each Control to its own location (room)."
As a lot of these these devices are base on Frequency and not IR, can it be looked at with the ability to have the controls assigned to its own room.    As it stand right now, they all go together.

[2019-06-24 22:07] zwoop commented on #18
I tried again, but still not working (at all). I'm getting errors such

[code]

Are we sure this plugin is supposed to work with the latest firmware in the Bond hubs? From what I can tell, they moved on to a "v2" of their APIs, which seems completely different.

[2019-08-20 22:10] LeviJSmith opened #23 "Having issues getting homebridge-bond-testing2 to run"
Greetings.  I installed the homebridge-bond-testing2 plugin but am getting the following when I try to run it.  I also included my config.json file below as well.  Anyone know how to resolve this?

21:59:54
[2019-8-20 15:59:54] Plugin /usr/local/lib/node_modules/homebridge-bond-testing2 package.json does not contain the keyword 'homebridge-plugin'.

21:59:54
[2019-8-20 15:59:54] No plugins found.

[2019-08-22 15:52] jimboslicethat commented on #18
@zwoop I think that's the crux of the issue. I tried hitting the APIs that this package is setup to hit, and those aren't even available. A simple test in postman shows that these APIs need to be reworked in order to be compatible with the v2 version. It feels like we need to fork this repo, or get @edc1591 to transfer ownership to someone so that we can start making progress toward making this pl

[2019-09-13 17:40] evandcoleman commented on #18
I no longer use a Bond device, so I likely won't be maintaining this plugin in the future. Having said that, I'd be happy to talk to anyone who'd like to take ownership of this repo.

[2019-09-13 19:33] iRayanKhan commented on #18
I wouldn’t mind. If not me, Plainsane or vdotn are the other 2 best candidates.

Sent from my iPhone

[2019-09-21 19:53] jimboslicethat commented on #18
Let's do what we need to do to get ownership transferred to the best candidates! Good to hear we aren't going to let this project die. It would be great to get some of these PR's merged in so we can get things working again.

[2019-09-22 01:07] aarons22 commented on #16
@ylor I create a new plugin using the v2 API, which can be found here: https://github.com/aarons22/homebridge-bond-v2

[2019-09-22 01:09] aarons22 commented on #18
Hey all! I created a new plugin using the v2 API, which can be found here: https://github.com/aarons22/homebridge-bond-v2

Since the API was dramatically different, it didn't make a ton of sense to fork the repo, but I did use a lot of what @evandcoleman wrote previously for inspiration.

[2019-09-22 01:21] aarons22 commented on #21
I posted this in a couple other issues on this repo, but I just finished writing the initial version of the plugin using the v2 API: https://github.com/aarons22/homebridge-bond-v2

In doing so, I ended up dropping the Reset switch all together since the API exposes the current state of the device from the Bond. When HomeKit requests the current value (either on startup or when it's `Updating...`,

[2019-09-26 00:04] iRayanKhan commented on #21
Anyone having issues should use: https://github.com/aarons22/homebridge-bond-v2. Fixed all my issues and the project is still active.

[2019-09-26 00:04] #21 closed

[2019-09-26 04:22] jimboslicethat commented on #18
FWIW I highly recommend everybody move to @aarons22's package. It's running great and he's pushed several updates just in the last few days. Thank you for your work! 👍

[2019-09-26 05:06] zwoop commented on #18
I just installed this new plugin as well, and it works great! Thanks!

I think we should leave this issue open for others to find this information.

[2019-09-26 15:02] evandcoleman commented on #18
Seems like it might make sense to transfer this repo over to @aarons22 so he can use the plugin name with the `v2` suffix. Does that sound good to everyone?

[2019-09-26 15:26] iRayanKhan commented on #18
I think thats a great idea, thanks for the plugin!

Sent from my iPhone

[2019-09-26 15:50] aarons22 commented on #18
I’m good with that! Can you transfer the npm package to me as well?

[2019-09-26 18:38] evandcoleman commented on #18
Yup! What's your npm username?

[2019-09-26 18:57] aarons22 commented on #18
same as my github: `aarons22`

Thanks!

[2019-09-26 19:08] evandcoleman commented on #18
Done!

[2019-09-26 19:09] evandcoleman commented on #18
I'd recommend removing me as a maintainer from npm once you've confirmed you have access. No need to risk having more people with access.

[2019-09-26 19:23] aarons22 commented on #18
Awesome, thanks again @evandcoleman for your work on this plugin!

To everyone else, I'll transition my other plugin code to this repo in the next day or so and deprecate the other plugin.

[2019-09-26 22:38] vdotn commented on #18
Might I recommend leaving a fork of v1 still available? It seems not everyone is able to upgrade to 2.0. Interestingly enough I’m not, and my device isn’t even a year old. Kind of a dick move from the bond folks but it is what it is.

https://olibra.zendesk.com/hc/en-us/articles/360007186371-bond-bridge-Current-Application-Version-

[2019-09-26 22:48] jimboslicethat commented on #18
If you download the new Bond Home app you should be able to get the new
firmware update.

On Thu, Sep 26, 2019 at 4:38 PM Vitaly <notifications@github.com> wrote:

[2019-09-26 23:00] vdotn commented on #18
I followed that but it’s actually not true for all modes. Check the link I posted, some s/n ranges are capped at 1.x

[2019-09-26 23:02] aarons22 commented on #18
While it’s true that you should be able to get new firmware with the new Bond Home app (I have this noted in the other repo right now), I’ll add some instructions for those who want to stay on v1 firmware. You’ll be able to reference a specific npm package version.

If someone wants to maintain v1 support, they should fork it and create a new package!

[2019-09-26 23:08] aarons22 commented on #18
@vdotn interesting, and super annoying 🙄

I can throw up a v1 repo/package but I’m not going to maintain it at all. I feel like we’d be better off just referencing the version number of this repo for users of the v1 api. Thoughts?

[2019-09-27 00:40] vdotn commented on #18
@aarons22 good with me, it’s fairly feature complete anyway. May throw one or two PRs if I have time but that’s about it, it works well.

[2019-09-27 01:48] aarons22 commented on #18
v2 code has been migrated and a new version (2.0.0) has been published 🚀

I created another package for v1 users called `homebridge-bond-v1` and published 1.0.0. I won't be maintaining it, but if someone comes along and wants to do anything with it I'll be happy to pass it along.

I'll be deprecating the v2 plugin and pulling it from npm in the coming weeks.

[2019-09-27 01:48] #18 closed

[2019-09-27 02:05] #16 closed

[2019-09-27 02:06] aarons22 commented on #13
Closing this as it is no longer applicable with v2 API.

[2019-09-27 02:06] #23 closed

[2019-09-27 02:07] aarons22 commented on #20
Closing this as it is no longer applicable with v2 API.

[2019-09-27 02:07] #20 closed

[2019-09-27 02:07] aarons22 commented on #12
Closing this as it is no longer applicable with v2 API.

[2019-09-27 02:07] #12 closed

[2019-09-27 02:08] aarons22 commented on #10
Closing this as it is no longer applicable with v2 API.

[2019-09-27 02:08] #10 closed

[2019-09-27 02:11] #4 closed

[2019-09-27 02:11] aarons22 commented on #2
Closing this as it is no longer applicable with v2 API.

[2019-09-27 02:11] #2 closed

[2019-09-27 02:11] #1 closed

[2019-09-27 02:12] aarons22 commented on #22
Is the request to have the room be pre-selected in HomeKit when it's being added? Not sure I totally follow.

[2019-09-27 02:12] aarons22 commented on #11
Closing this as it is no longer applicable with v2 API.

[2019-09-27 02:12] #11 closed

[2019-09-27 02:54] roycepope commented on #20
Was this plugin updated for the new REST API?

[2019-09-27 07:12] twentyNoise commented on #4
I just installed the new version and looks like I’m only getting speeds 1 (33%), 2 (66%) and 3 (100%).

Also, when I click the Fan tile in the Home app to shut the fan off, nothing happens.

Thanks for your work on this!

[2019-09-27 08:04] fancypants66 opened #25 "TypeError: Cannot read property 'some' of undefined"
Excited to see updates being made to homebridge-bond!
unfortunately receiving the following error on load.

`[9/27/2019, 12:40:08 AM] [Bond] Configuring Accessory: null Fan
[9/27/2019, 12:40:08 AM] TypeError: Cannot read property 'some' of undefined
    at Object.CFhasFan (/usr/lib/node_modules/homebridge-bond/dist/interface/Device.js:20:31)
    at BondPlatform.setupObservers (/usr/lib/node_module

[2019-09-27 12:00] aarons22 commented on #4
Yeah more than 3 speeds is on my list. I’m hoping to get that knocked out in the next few days.

As for the fan tile issue, what version of iOS are you running?

[2019-09-27 12:42] aarons22 commented on #25
I suspect this is a data migration issue. A couple of questions:

- Have you updated your Bond to the latest firmware?
- Can you run the command `cat ~/.homebridge/accessories/cachedAccessories | pbcopy` and paste the contents here?

I think I need to build a quick migration guide for users coming from the pre-2.0.0 plugin

[2019-09-27 13:06] aarons22 commented on #20
Yup!

[2019-09-27 13:08] iRayanKhan commented on #25
I just removed the Accessories file and restarted HomeBridge, all other accessories stayed the same and the New V2 fans appeared.

Sent from my iPhone

[2019-09-27 13:11] aarons22 commented on #25
@iRayanKhan I created a migration guide with those steps. Can you validate? https://github.com/aarons22/homebridge-bond/wiki/Migrating-from-v1-to-v2

[2019-09-27 13:38] twentyNoise commented on #4
Cool, that’s great.

I just installed iOS 13. I wish I hadn’t because the Home app has become unusable: it freezes while updating statuses, I get ‘No Response’ all over the place. iOS 12 Home App has no issues there, which reminds me, I’ll check this Fan tile / off issue in iOS 12.

[2019-09-27 19:56] vdotn commented on #25
This resolves it for me. (I picked up a new V2 bond so I can keep participating!)

[2019-09-27 20:25] iRayanKhan commented on #25
Can confirm that those are the steps, would be good to link to the ReadME to where you update from V1 to V2, to since I didn’t know you needed a new app, ‘till I saw that plugin.

Sent from my iPhone

[2019-09-27 20:53] vdotn opened #26 "Support for ceiling fans with more than one light"
My ceiling fan has two lights which the remote and Bond app can control separately. It would be nice if we can control both via HomeKit.

**Describe the solution you'd like**
Multi-light setups conveniently map to the following bond actions:
[code]

I'm thinking that this could be implemented by ignoring the ToggleLight action if the above actions are reported by the Bond, and exporting two light

[2019-09-27 20:56] iRayanKhan commented on #26
In iOS it can accept 2 lights, one will show right next to the Fan Percent Slider, the other where it is now. It may accept even more lights.

Sent from my iPhone

[2019-09-27 20:59] vdotn commented on #26
Cool! ... Kinda clunky UI-wise but that's Apple's problem. I'm more about Siri controls anyway, and as long a they have different names it should work perfectly.

[2019-09-28 03:46] fancypants66 commented on #25
Yep worked perfectly. Deleted v1 cachedAccessories and no issues on boot. Thank you and keep up the great work!

[2019-09-28 14:59] ylor opened #27 "Turning off fans via Automation not working"
Hello and thank you for taking over this project and supporting the v2 API!

It's been working great for the most part, the only issue I've been having so far is with regard to setting up automations. Turning fans ON via automation works as it should, however turning fans OFF via automation does not.

Things I have tried:

* Removing and readding the plugin
* Removing and readding homebridge
* Del

[2019-09-28 17:42] aarons22 commented on #27
Sorry about that. I just fixed this issue in [2.0.1](https://github.com/aarons22/homebridge-bond/releases/tag/2.0.1). Can you update and let me know if that fixes your issue?

[2019-09-28 17:48] aarons22 commented on #25
Thanks for the feedback! I updated the README with the migration guide.

[2019-09-28 17:48] #25 closed

[2019-09-28 17:53] aarons22 commented on #26
Yeah I would first try using the 2 lights approach as @iRayanKhan suggested, but I'm unsure if the names would map correctly. The fact that it's `ToggleUpLight`/`ToggleDownLight` vs just `ToggleLight` does mean it will take some more consideration in the code, but I think it's doable.

I'd be happy to take a PR if you have the time, but I understand how life gets in the way 😄 I happen to have more

[2019-09-28 18:24] ylor commented on #27
Yes. Thank you for such a quick fix.

[2019-09-28 18:24] #27 closed

[2019-09-28 19:06] aarons22 commented on #4
@twentyNoise I fixed the Fan tile off state issue, and added support for more than 3 speeds! please update and create a new issue if you have any other problems

[2019-09-28 19:43] cargueta001 opened #29 "No Bond Response"
@aarons22 Thanks for the continued support on this.

I've updated to the most current version of the plugin and the icons are visible but have a ghost action. In other words, the buttons don't provide a response from Bond.

[2019-09-28 20:33] twentyNoise commented on #4
@aarons22 Brilliant! it works great! Thank you so much for updating the plugin, it’s working perfectly now and it’s as responsive as the Bond Home app.

[2019-09-28 20:49] aarons22 commented on #29
- can you remove the bond plugin from your setup and see if the issue persists? I’d like to confirm it’s due to this plugin and not a larger issue with homebridge and iOS 13
- how many bond devices do you have? It could be an issue with a larger number (I only have two fans)

[2019-09-28 20:56] vdotn commented on #29
@cargueta001 Are you using the homebridge docker container from oznu by any chance? I had this issue and spent a good 30 minutes, turned out it wasn’t updating the npm module correctly/completely.

[2019-09-28 21:03] cargueta001 commented on #29
@vdotn Yes I am using the docker container from onzu. What steps did you take to remedy this?

[2019-09-28 21:05] cargueta001 commented on #29
@aarons22 I've removed the plugin and isolated it as the only unresponsive one. I have two fans as well in my BOND app, which are responding normal within that app.

[2019-09-28 21:15] vdotn commented on #29
I ended up removing all my entries from packages.json (other than the dummy) and adding an ‘npm install <package>‘ line into startup.sh for each of my packages that I use. Turned out it hadn’t updated any of my packages in quite a while!

[2019-09-28 22:53] Fernyman79 opened #30 "Multiple Bond Bridges"
The ability to add two or more different bond bridge devices. On larger houses, a single bond isn't enough to cover all rooms.

[2019-09-28 23:34] cargueta001 commented on #29
@vdotn Thanks for the suggestions. I made the tough decision to remove my Home and re-add it knowing very well my changes and customizations would be lost. Prior to that I removed the Bond plugin, cleared the cache and persist folders, adjust my config file and started from scratch.

After an hour of making my Home app the way it use to be, I reinstalled the Bond plugin and sudo rebooted my Raspbe

[2019-09-28 23:54] Fernyman79 commented on #30
I have a 2nd unit I can send to you, if it helps!

[2019-09-29 01:18] zaackyb21 commented on #29
Could this be related to moving from the Bond V2 plugin to this plugin? I had the same issue after that. I am getting a different issue now when trying to reload the plugin where only some of the fans are loading.

This is the error I see for one of the fans that is not coming in.

[9/28/2019, 8:15:01 PM] [Bond] Adding accessory Garage CF
Unhandled rejection TypeError: Cannot read property 'action

[2019-09-29 02:21] zaackyb21 commented on #29
I was able to get my latest issue fixed by removing the apostrophes from my fan names.

[2019-09-29 02:53] vdotn commented on #29
@cargueta001 I was wondering this too ... assuming it can’t get the state from the remote, I had thought the V2 api would at least sync state in the bond app when api calls are made. It doesn’t seem to. Probably a deficiency in how they implemented their API or app. I don’t think it’s anything we could influence from the homebridge side.

[2019-09-29 03:10] iRayanKhan commented on #26
Since you can rename each accessory in a group in the Home app the naming would work with Siri.  But saying “Turn on xRoom fan light” may either turn both on or the primary one (the one the plugin initialises first).

Sent from my iPhone

[2019-09-29 11:41] aarons22 commented on #29
If you use the physical remotes, you’re Bond is going to get out of sync, and there isn’t anything you can do to prevent that. The plugin treats the Bond as the source of truth, so anytime HomeKit requests the latest values (using `on('get')`), it hits the Bond API. I’m guessing you were able to work around this previously using the reset switch when things got out of sync.

In the Bond Home app,

[2019-09-29 12:23] aarons22 commented on #30
I was wondering if there was anyone using multiple bonds 😄

Does homebridge let you define multiple platforms in the config using the same plugin?

[2019-09-29 13:17] iRayanKhan commented on #30
Why not just setup another instance of HomeBridge? I got 4 different HomeBridge instances and it works all good.

Sent from my iPhone

[2019-09-29 13:25] vdotn commented on #30
@aarons22 I think the way most other plugins implement it is by letting you create multiple accessories per plugin. For example see the IFTTT plugin.

The way I see it being implemented is your plugin would be agnostic to how many bonds there actually are, the user specifies IPs and tokens in the config, plugin exports all the devices from all the bonds and handles the translation of which bond to

[2019-09-29 16:03] aarons22 commented on #30
@vdotn yeah that’s the approach I would take as well. I was just curious if you could define multiple instances of the Bond plugin in the config as an alternative

[2019-09-29 16:04] aarons22 commented on #29
Can we consider this issue closed?

[2019-09-29 16:05] #29 closed

[2019-09-29 16:14] Fernyman79 commented on #30
I’ve tried defining two platforms, but homebridge didn’t like it. It even loads all accessories (including Bond’s) but it crashes a few seconds later.

[2019-09-29 16:16] iRayanKhan commented on #30
I’ll try it later tonight, I only have one bond, wonder if I can add 2 of the same bonds at once. Unless someone has a bond I can try to add then remove.

Sent from my iPhone

[2019-09-29 16:16] iRayanKhan commented on #30
Can you paste the log of when it crashes?

Sent from my iPhone

[2019-09-29 16:34] Fernyman79 commented on #30
I’ll setup another instance tonight and try to reproduce. When I did it to my main installation I had to delete /accessories and /persist, and then re-add all my accessories in order to make homebridge work again.

[2019-09-29 20:08] mbillow opened #31 "Causes Homebridge to Stop Functioning"
**Describe the bug**
Once the platform is included in `config.json`, Homebridge completely stops working; despite not emitting any errors to STDOUT/STDERR or any log files. The application itself reports that it is functioning (displays pairing QR, other plugins send out their initial  requests, etc.), but everything in the Home app displays as "Not Responding." I have tried clearing out the acces

[2019-09-29 20:40] aarons22 commented on #31
It sounds like other users using oznu docker containers have seen similar issues. Your log output does confirm your config is correct.

[2019-09-29 20:42] aarons22 commented on #31
See the comment here: https://github.com/aarons22/homebridge-bond/issues/29#issuecomment-536226117

[2019-09-29 21:04] mbillow commented on #31
I don’t think there is anything in that thread I haven’t already tried. I can give it a go in the _exact order_, but I don’t think just erase your entire setup and start over is an acceptable solution to this problem in the long term. I can try and dig into this more later, but I have to admit I have been a little to pampered by other things just working so I haven’t really familiarized myself wit

[2019-09-29 21:26] aarons22 commented on #31
Yeah I wish I could be more help, I just don’t know if I can spend time replicating your environment to see what’s going on. The other option would be for you to pull down the repo and run it locally, adding some logs throughout to see what’s going on. I’ve being wanting to add more debugging logs, and it sounds like I need to look into the debugging flag provided by homebridge.

[2019-09-29 22:03] iRayanKhan commented on #31
Schools busy for me, I can try to make a fork to add more than one instance, but I don’t have a spare bond to test. What if you made a new user on your Pi (if you use one) and run an instance of Homebridge on it.

Sent from my iPhone

[2019-09-30 02:52] Fernyman79 commented on #30
My log:

`[9/28/2019, 3:51:23 PM] Loaded config.json with 0 accessories and 4 platforms.
[9/28/2019, 3:51:23 PM] ---
[9/28/2019, 3:51:24 PM] Loaded plugin: homebridge-bond
[9/28/2019, 3:51:24 PM] Registering platform 'homebridge-bond.Bond'
[9/28/2019, 3:51:24 PM] ---
[9/28/2019, 3:51:25 PM] Loaded plugin: homebridge-camera-ffmpeg
[9/28/2019, 3:51:25 PM] Registering platform 'homebridge-camera-ffmp

[2019-09-30 03:03] vdotn commented on #31
@mbillow It’s more of an issue with how the container script handles upgrades. Oznu recommended using packages.json for the longest time. Still might. If you had it dynamically loading via startup.sh, I suspect that just clearing your cache would have been sufficient as it worked for people running homebridge natively (as described in the 1.0 -> 2.0 migration guide).

If you want help digging into

[2019-09-30 05:09] sofakingcopter commented on #13
I’m still having the same issue with the new version.

[2019-09-30 12:13] aarons22 commented on #13
Can you run this command in terminal with your IP and token and let me know what you see?
[code]

[2019-09-30 12:15] aarons22 commented on #30
Interesting, thanks for posting. I honestly didn’t think it would work but I was hoping it would 😅

I’ll keep this open as a feature request!

[2019-09-30 13:05] vdotn commented on #13
@sofakingcopter did you follow the v1 to v2 upgrade guide? Your config needs to change as well from v1. If you’re using the homebridge docker container from oznu there’s a thread on here with some additional steps you need to take.

[2019-09-30 16:04] aarons22 commented on #31
Those logs are helpful. It looks like the request to get the state of the device is failing. I’ll add some more debug logs to the next version and hopefully we can isolate the issue!

[2019-10-01 11:43] vdotn opened #32 "Setting fan speed via Siri returns nonsense"
Running plugin 2.1.0, with phone on iOS 13.1.2.

Saying the command “turn on the ....room fan to 66” (or medium in my case for a 3 speed fan) results in Siri saying ok I’ve set the fan speed to 3, and turning the fan to 100%

**Expected behavior**
Siri confirms the fan speed correctly and sets the fan to the desired speed.

**Screenshots**
![AAB8BD87-A683-4C9B-A839-B5F70E224620](https://user-image

[2019-10-01 15:45] aarons22 commented on #32
Dang, I was hoping using `setProps` would allow me to use a different unit. I'll take a look

[2019-10-01 17:32] aarons22 commented on #31
So I think what what happening is the API was throwing an error and in that case, the plugin wasn't responding to HomeKit, in turn causing the "No Response" issue. I've attempted to fixed this in [2.1.1](https://github.com/aarons22/homebridge-bond/releases/tag/2.1.1)

There is likely an API issue that will surface once your update, but I've added some additional logging to help identify what the i

[2019-10-01 18:32] vdotn commented on #32
Yeah; unfortunately the v1 setProps statically took 0/33/66/99 as static values so everything went swimmingly there (although there was some off-by-one stuff, you’d tell Siri to set fan to 100 and it’d say ok great I set it to 99). You converted it to the array that dynamically populated with the number of speeds 0-7 (which is a huge feature win btw!)

I’m also not sure how Apple slices up the spe

[2019-10-02 05:05] sofakingcopter commented on #13
I was unaware of any upgrade guide.  I did a clean install, as I could not get the old plugin working ever, it would crash my home bridge.  Did a clean install of home bridge and I just added the new plug int.  It looks like its working but I do not see my devices in home app.  I ran the command and this is what I got:

pi@Heli-Pi:~/.homebridge$ curl -H "BOND-Token: b0885b521abc0542" -i http://192

[2019-10-02 13:03] aarons22 commented on #13
Yeah that’s telling me no devices are showing up in the API, so you’re not going to see anything in the plugin. If you are seeing devices in the Bond Home app, you might want to reach out to Bond support because that sounds any issue on that end

[2019-10-02 16:46] KCFT23 commented on #13
I am having the same issue.  I am not sure why you said no devices are showing after running the curl command.  sofakingcopter's device is {"_":"de432dc6"}.  I receive a similar response with the command, but I get {"_":"63b8bea7","1":{"_":"d5c14568"}}

In my case it is two devices (one is the llight and the other one is the fan).  The home bridge plugin seems to be run successfully, but it says "

[2019-10-02 16:54] sofakingcopter commented on #13
Thanks for the help but I really wouldn’t know what to ask support for. My
app and BOND work great. I just can’t get them to work with Homebridge.

On Wed, Oct 2, 2019 at 9:46 AM KCFT23 <notifications@github.com> wrote:

--
sent with Peace and Love!

[2019-10-02 17:58] aarons22 commented on #13
To be clear, I was only implying that the API was not functioning correctly. I'll quickly explain what the API response means. Looking at this response:

[code]

`00000003`, `00000018`, `1b8d06c6` and `38b3b9ca` are the different device ids on this Bond. The first object in the response (`"_": "bde50a34"`) is related to the bond itself and doesn't mean anything to the plugin.

Another suggestion w

[2019-10-02 18:04] vdotn commented on #13
If it helps, bond support gave me this link in the past for resetting the bond and reconnecting it to your network. All your devices that it learned should return, I didn’t have to start over. Might be worth a shot to do that. The app also updates you to the latest firmware on the Bond. Make sure you’re using the “new” Bond Home app, not the old one from v1.

https://olibra.zendesk.com/hc/en-us/ar

[2019-10-02 18:19] KCFT23 commented on #13
Ok, thanks.  So according to your explanation, in my response my device is "1", correct?

{
   "_":    "63b8bea7",
   "1":    {
   "_":   "d5c14568"
   }
}

Why does the homebridge plugin not find my device?  FYI, my fan is new (one of those fans with the integrated BOND) and I am running the new Bond app.  Everything works well from the app, and I can also send commands from Terminal in my comput

[2019-10-02 18:34] aarons22 commented on #13
Oh interesting, I didn't even think about that being a factor. I'm wondering if the API behaves differently for those devices. Can you add `"debug": true` to your Bond platform config (assuming you're on 2.1.2)? That'll print out all of the API requests and responses, which should help diagnose what's happening

[2019-10-02 18:39] vdotn commented on #13
@KCFT23 can you post your config.json? At least the relevant section to the bond plugin.

[2019-10-02 18:45] KCFT23 commented on #13
"platforms": [
    {
        "platform": "Bond",
        "bond_ip_address": "192.168.1.XXX",
        "bond_token": "XYZxyzXYZxyz"
    }

[2019-10-02 18:52] KCFT23 commented on #13
Ok, here are the results of adding "debug": true...

[10/2/2019, 2:48:51 PM] [Bond] 0 cached accessories were loaded
[10/2/2019, 2:48:51 PM] [Bond] Getting devices...
[10/2/2019, 2:48:51 PM] [Bond] DEBUG: Request [GET http://192.168.1.1XXX/v2/devices] - body: {}
[10/2/2019, 2:48:51 PM] Homebridge is running on port 518XX.
[10/2/2019, 2:48:51 PM] [Bond] DEBUG: Response [GET http://192.168.1.XXX/v2/

[2019-10-02 19:21] aarons22 commented on #13
Ohhhh man, I see the issue. In an attempt to ignore that first object (`"_"`), I was checking the length of the key to make sure it was at least 2 characters, which is ignoring your device. I just fixed it in 2.1.3, so please update to the latest version and let me know!

[2019-10-02 19:23] KCFT23 commented on #13
Awesome!  I will test is as soon as I get home.  Thanks!!!

[2019-10-02 19:24] aarons22 commented on #32
Should be fixed in 2.1.3. Can you confirm?

[2019-10-02 20:59] aarons22 commented on #31
I’m currently away from my home and seeing the issue you are describing! This leads me to believe it’s an issue where the Home app is attempting to communicate with the local IP address of the bond. I _thought_ it would funnel the requests through my Apple TV, but apparently that’s not the case.

This also explains why operating this plugin inside a VM might not work if it can’t resolve the IP add

[2019-10-02 21:17] mbillow commented on #31
I can’t reproduce the issue of it not working remotely. I turned both WiFi and Bluetooth off and was able to control my fans perfectly. Your Apple TV should definitely be doing to heavy lifting in this scenario. I could go as far as to unplug my Apple TV and see if everything stops working. I am still on 2.1.0, just to be clear.

[2019-10-02 21:22] aarons22 commented on #31
It’s possible my homebridge crashed. I don’t know at this point lol

[2019-10-02 21:31] vdotn commented on #31
Do you also have homepods by any chance, or is your tv still on tvos12? I was having a similar issue remotely when homepods took over as home hubs because they’re still on ios12.

[2019-10-02 21:34] vdotn commented on #32
Better, but still bugged. I’ll do a better write up when I get home. Basically “Siri set the fan to 33” -> Siri goes “ok I’ve set it to 32” -> actually sets it to 17 which is the next value down from 33.

[2019-10-02 21:39] iRayanKhan commented on #31
I fixed my biggest issue after months with shared users not being able control accessories remotely. While it may not directly be your issue, I fixed it by disabling as many home hubs as possible ‘till the troubled one was identified (Apple TV 4K tvOS 13.0)

Sent from my iPhone

[2019-10-02 21:43] aarons22 commented on #31
I recently updated my Apple TV (non-4K) to tvOS 13, but there are a few iOS devices still on 12

[2019-10-02 23:06] aarons22 commented on #31
I think my issue is something wrong with my whole setup. Probably going to clear everything out soon and scratch.

Regardless, this thread has spiraled a bit. @mbilllw - is your issue still happening?

[2019-10-03 01:44] aarons22 commented on #32
How many speeds do you have? Also, can you add `"debug": true` to your config and look for the line that reports the min step and max value?

I think part of the issue is how Siri is interpreting the request, but I also feel like the verbal response from Siri vs what's shown in HomeKit is a bit misleading. Siri seems to _always_ respond in the increments of the minStep value. For me, I've got thre

[2019-10-03 01:52] KCFT23 commented on #13
Some progress, please see debug log below.  Now it finds one device!  However, the request for commands fails - it results in an empty response.  I verified and this is the case from the terminal/API too.  It results in a "404 Not Found" error.  However, if I run the curl with http://192.168.1.XXX/v2/devices/1/ and exclude the "commands", then I get the right response:

{"name":"Office Fan","locat

[2019-10-03 02:09] aarons22 commented on #13
Interesting that it is failing. The `commands` request is what I use to determine the number of speeds available. Here's an example speed command:
[code]

The `argument` is the value I need to pass along to the `setSpeed` action. (What you have stumbled on is the [Device Info API](http://docs-local.appbond.com/#tag/Devices/paths/~1v2~1devices~1{device_id}/get))

I just looked at the API docs again

[2019-10-03 02:36] KCFT23 commented on #13
Yes, I am also puzzled.  It should work according to the documentation.  I just looked to see if there were any firmware updates and sure enough, there was one.  However, updating the firmware did not fix the commands issue.  I will post in the BOND forum to alert them about this issue.

I can confirm that the using the curl with http://192.168.1.XXX/v2/devices/1/properties works fine and I can se

[2019-10-03 02:52] sofakingcopter commented on #13
I just upgraded mine and still no accessories.  I"m going to try and re-add one of them.

[2019-10-03 03:12] KCFT23 commented on #13
Yes, that is a good idea.  If that doesn't work, you may want to try something I found in my quest for information about this.  I stumbled with posts from others that seem to have exactly the same issue as you.  They suggest adding a new "device", but this time instead of adding the device use the "remote control" option in the app and make the BOND learn the remote buttons one by one.  Good luck!

[2019-10-03 03:13] sofakingcopter commented on #13
It worked!!  I added it as new just like you said and I can see one fan now. Now I"m franticly teaching my house for a 9volt battery to re-add the other fan.

[2019-10-03 12:39] aarons22 commented on #13
@sofakingcopter great to hear! can we consider this issue closed?

@KCFT23 - keep me posted on what you learn in the Bond forum. Feel free to open another issue when there are any changes

[2019-10-03 15:18] KCFT23 commented on #13
No luck yet with the Bond forum.  However, I have confirmed my Device is missing the "commands".  You can see it here:

{“name”:“Office Fan”,“location”:“Office”,“type”:“CF”,“actions”:[“TurnOn”,“TurnOff”,“TogglePower”,“SetSpeed”,“IncreaseSpeed”,“DecreaseSpeed”,“TurnLightOn”,“TurnLightOff”,“ToggleLight”,“SetBrightness”,“IncreaseBrightness”,“DecreaseBrightness”,“CycleBrightness”,“SetTimer”,“BreezeOn”

[2019-10-03 15:37] aarons22 commented on #13
Ahh good point. That could be used to determine if the commands request should be made in the first place

[2019-10-03 16:03] KCFT23 commented on #13
Yes.  Now someone in the bond forum verified: the API states "Commands are only present in bridge devices".  So it is normal that a device like mine (and all the Smart by Bond devices) do not have "commands".  It would be great if the plug-in can take this into consideration.

Thanks again!

[2019-10-03 16:07] iRayanKhan opened #33 "NAB - Shades?"
I saw shades were added and was curious as to which ones would be supported. I for one and on the hunt for HomeKit shades, or Homebridge ones, so shades is interesting especially if bond can handle any shade.
https://github.com/aarons22/homebridge-bond/projects/1#card-26992587

[2019-10-03 16:08] iRayanKhan commented on #33
Don't know how to self assign "feature-request" instead of bug as it did it on it's own.

[2019-10-03 17:01] aarons22 opened #34 "For non-bridge devices, plugin does not support fan speed correctly"
The plugin uses the `commands` endpoint to determine the speed range of a fan. For non-bridge fans, we can use the `properties` endpoint to get the `max_speed`.

A lot of context for this can be found in this issue: https://github.com/aarons22/homebridge-bond/issues/13

cc: @KCFT23

[2019-10-03 17:02] aarons22 commented on #13
@KCFT23 glad we were able to clear that up. I'm closing this issue but have opened a new one for your specific use case: https://github.com/aarons22/homebridge-bond/issues/34

[2019-10-03 17:02] #13 closed

[2019-10-03 17:52] KCFT23 commented on #34
Thank you!  Looking forward to testing this for you when you have time to work on this feature request.

[2019-10-04 00:29] aarons22 commented on #34
@KCFT23 I just [2.2.0](https://github.com/aarons22/homebridge-bond/releases/tag/2.2.0) with this fix! Turns out it was pretty straight forward so I went ahead and knocked it out.

You'll need to clear your cachedAccessories for this to work! Please report back 😄

[2019-10-04 00:52] KCFT23 commented on #34
It works!  Thanks so much for taking care of it so quickly!  It looks great, and I tested the fan speed control, the light, and I see the reverse button too (I have not tested that one yet).  It does not have dimming capability for the light, but I rarely use that anyway.  You can close this issue!

[2019-10-04 01:24] #34 closed

[2019-10-07 14:43] vdotn commented on #32
Apologies I’ll do some debugging tonight. Weekend was crazy busy. It seems like there’s also something going on with how the response to getFanSpeedValue is being interpreted by HomeKit.

Example (on a 6-speed fan): set speed to 67% either by Siri or in home app. Switch apps to something else, then back to home so values refresh. Speed will now read 50%. However in the Bond app the speed is on 4 w

[2019-10-07 16:47] iRayanKhan opened #35 "Can't control fan status over Shortcuts"
**Bug Description**
In iOS 13.2 I was doing a Shortcuts automation to get the state of the fan and
[code]
Obviously not real code, I'll share the shortcut once I get home, but I have an NFC sticker that when I place my phone on will toggle the state of accessories.
When trying to control the fan via it, it sets the it to the desired speed, the home app reflects the speed change, but the fan it's s

[2019-10-07 16:48] iRayanKhan commented on #32
Can you change the speed via shortcuts? I wonder if it is a speed # related issue dealing with this issue and #35

[2019-10-08 13:29] jdlambert commented on #33
At the moment, Bond only has out-of-the-box support for Somfy RTS shades.

[2019-10-08 13:38] jdlambert commented on #26
FYI, the "Light" "UpLight" and "DownLight" features have something like this built in when used together. The Bond "remembers" which of the two lights was last on and sends the appropriate toggle when "TurnLightOn"/"ToggleLight"/"TurnLightOff" is called.

E.g. if the Bond believes the top light to be on and the bottom light to be off, sending "ToggleLight" or "TurnLightOff" will just transmit the

[2019-10-08 13:48] vdotn commented on #26
Interesting, had no idea! This is clever on their part.  I think the best approach is still to be explicit though to avoid the occasional out of sync.

[2019-10-08 19:14] iRayanKhan commented on #33
Dang that sucks, I'm still on the hunt for HomeBridge shades, maybe the Ikea ones, but they don't have custom sizes.

[2019-10-08 19:14] #33 closed

[2019-10-08 19:19] vdotn commented on #32
Haven’t tried but I’ll give it a test later.

[2019-10-08 19:19] vdotn commented on #35
Can you share the shortcut? Also do you have a home hub? And if so what device/iOS version?

[2019-10-08 19:33] iRayanKhan commented on #35
Yeah.
On my Mac so I'll send the shortcut asap.
Home Hubs:
1) Apple TV 4K (3 of them 1 is the main one that's always connected, left the others on disabled)
2) HomePod (2 of them always on standby)
All on the latest beta build
Shortcut I can send in a few hours as I don't have my phone on me currently.
As I said before it's weird how the Fan Light accessory toggles via the shortcut, but the fan sp

[2019-10-08 19:37] vdotn commented on #35
I’ll test your shortcut against my setup for ya once you post it.

Was wondering if your issue is related to what I saw when my HomePod (iOS 12.4) took over as home hub and everything went to shit, but it doesn’t appear to be your case.

[2019-10-08 20:25] iRayanKhan commented on #35
My address is blurred since this is a public space obviously and can’t share the shortcut directly, but it’s easy to make as seen in the screenshots.

Sent from my iPhone

[2019-10-08 20:26] iRayanKhan commented on #35
Love how they didn't attach.
Here they are:
![IMG_1172](https://user-images.githubusercontent.com/34495712/66430559-f80b9c00-e9df-11e9-86d3-e31f04a4ed99.jpg)
![IMG_1173](https://user-images.githubusercontent.com/34495712/66430568-fc37b980-e9df-11e9-85b4-483354ad0b88.jpg)

[2019-10-10 04:37] iRayanKhan commented on #35
Automations via the home app seems to be broken too. This doesn't seem like an OS level bug, since every other accessory works homebridge. or not. No clue what's happening. Gonna get logs later tomorrow and attach them.

[2019-10-11 03:54] iRayanKhan commented on #35
I somehow have 2 versions of bond, the one by EDC and the fork you made before It was merged originally. Found this when trying to add a TV, they are fighting over each other. I'm gonna have to re-do my homebridge setup anyways since I have lots of old versions of plugins it seems and a fresh install with the latest nom version should fix things

[2019-10-11 04:49] twentyNoise commented on #32
I noticed this as well and at first I didn't like it. But to be honest it's much easier to say "set the fan speed to 4%" If I want speed 4, or 3% for speed three. Just easier then remembering the different splits... not that there are many or that they're hard to remember, but just just keeps things simple."

What would be best is if you can say "set fan to speed 4" and Siri can respond with OK I

[2019-10-11 18:05] jdlambert opened #36 "Shades support"
**Describe the solution you'd like**
Support for shades. I'm not myself a homebridge user, but I am one of the developers working on the Bond Bridge and I pointed a user on our forums to this repo today, as he was interested in using his Bond via Homekit. I know this user's also particularly interested in shades control, so I'm opening this with him in mind.

**Additional context**
Shades are a pr

[2019-10-11 21:23] iRayanKhan opened #37 "V2.9.1"
Has anyone been brave enough to go from V2.8.2 -> V2.9.1? Me not having a spare device puts me off from upgrading the firmware since I don't know if it will break anything. If anyone is on V2.9 let me know if it works for you.

[2019-10-12 15:33] dkahia opened #38 "Worth upgrading firmware?"
I am on v1 firmware with the v1 homebridge plug-in. 4 of my 5 ceiling fans work as expected, with the 5th having a self automated temperature controlling remote and has not been critical.  I am not sure if my bond will upgrade to v2, but expect if it did that I might gain fan 5.

I admit I’m a bit leery to upgrade my working system. Does the v2 api and bond plug-in offer any benefits over my worki

[2019-10-12 16:35] aarons22 commented on #38
If everything is working as expected, I wouldn’t say there is any benefit at the moment.

The real benefit will come when I get a chance to add support for the newer devices only available over v2 API, which was my driving factor in rewriting the plugin.

[2019-10-12 16:47] aarons22 commented on #37
I was hoping there would be a change log posted somewhere but didn’t find anything on the forum :/

I probably won’t upgrade for a bit while I’m still working through some of these features.

[2019-10-12 17:01] dkahia commented on #38
Thank you. I’ll keep an eye on your effort and take the plunge when it looks like it will benefit me.

Thank you for your work. I am sure there are many with v2 devices that didn’t have an option before you took this on.

[2019-10-12 17:03] #38 closed

[2019-10-12 20:12] JT-EOD commented on #37
I just updated to v2.9.1, and I haven't seen any issues so far.

[2019-10-13 02:03] aarons22 commented on #30
Just pushed out a new version ([2.3.0](https://github.com/aarons22/homebridge-bond/releases/tag/2.3.0)) with support for multiple Bonds!

[2019-10-14 01:30] aarons22 commented on #22
Closing this since I haven’t heard back and it was posted with the pre-v2 plugin.

[2019-10-14 01:30] #22 closed

[2019-10-14 14:42] chrismerck commented on #37
I just moved the release notes to a more visible spot in the forum: https://forum.bondhome.io/t/bridge-firmware-v2-9-1/921

[2019-10-14 14:48] aarons22 commented on #37
@chrismerck thanks!

[2019-10-15 18:34] dxdc opened #39 "TypeError: Can't read property 'bonds' of null"
Using node 10.16.3 on a new installation, and empty `config.json` file, produces this error:

[code]

I can confirm this error goes away (and normal behavior exists) once the "bonds" key is added into "platforms" in `config.json`.

[2019-10-15 18:57] iRayanKhan commented on #39
Can you please paste your config and the bond version of the plugin you are using?
I’m thinking it’s either a config typo or using the new config on an older version of the plugin.

[2019-10-15 19:09] dxdc commented on #39
Actually, it has nothing to do with the bond version (I don't think), but I am running the latest beta if that is useful.

The problem (I believe) is that upon loading, it *assumes* config.json has a `bond` or `bonds` key in the config. If you have installed the plugin via npm, but didn't add it to `config.json` if fails with this error.

[2019-10-15 19:10] dxdc commented on #39
I'll bet this is the problematic line @iRayanKhan :

`if (config.bonds === undefined) {`

It should be something like:

`if (config === undefined || config.bonds === undefined) {`

[2019-10-15 19:24] iRayanKhan commented on #39
I mean't plugin version my bad, but you intrigued me at "beta", do you mean iOS beta?
V2.1.0 should have fixed it where if you didn't define the bond plugin in the config it gives a warning, but not a crash. I can make a fork to try out your suggestion, but I think we need some more info.
1) Plugin Version
2) Config (Redact personal info)
3) Node version ``` node -v```

[2019-10-15 19:29] dxdc commented on #39
@iRayanKhan

- Node v10.16.3
- For `config.json`, you can actually try just deleting that file. That's the simplest way to reproduce it.
- From `homebridge-bond/package.json` homebridge-bond@2.3.0

Keep in mind that once I edited/added `config.json` it worked fine. My suggestion above I think will fix it -- you're looking for the `bonds` property on config, but part of that assumption is that `con

[2019-10-15 19:29] dxdc commented on #36
Yes please!

[2019-10-15 19:30] iRayanKhan commented on #37
Closed:
- Change log found
- Users reports version is compatible

[2019-10-15 19:30] #37 closed

[2019-10-15 19:33] iRayanKhan commented on #39
Interesting, I run over 10 instances of homebridge and it works fine. I'll make a backup of it and test it out once I get home. Some of my plugins such as Tplink-smarthome, and Tuya-Lan return a fatal error when their plugin in not defined, so I'll see what's different between this and those plugins and see if I can repro and find a root cause. I'm out rn so it'll be a bit for me before I can take

[2019-10-15 20:30] dxdc commented on #39
Thanks! Not urgent... just something to note if config file is missing.

[2019-10-15 23:06] dxdc commented on #36
@jdlambert I figured out how to get shade control for Bond working on my `homebridge`. At least, a beta deployment! This should also be useful for the bond team (@aarons22).

1. Install my forked repo of (homebridge-blinds)[https://github.com/dxdc/homebridge-blinds]. (I've submitted this as a PR, so it's possible that homebridge-blinds will incorporate these changes shortly).

2. For each one of y

[2019-10-15 23:45] dxdc commented on #9
@Tangston311 I have shades working, and I suspect fireplaces will be very similar. I suspect you'll just need to change the capabilities a bit so that it shows a switch and not a shade.

https://github.com/aarons22/homebridge-bond/issues/36#issuecomment-542441060

[2019-10-16 02:39] jdlambert commented on #36
@dxdc FYI, the "Stop" action always means "Stop transmitting the current signal". (At this point this  is mainly used to stop the continuous transmissions of light dimmers) Because "Stop" is reserved for this special action, we named the action to stop the motion of the motor "Hold"... It's admittedly pretty confusing.

So "Hold" is the proper action name at the end of the URL there.

[2019-10-16 03:22] dxdc commented on #36
@jdlambert thanks! But, actually, I took these commands from

This is what I see in the raw output of:
[code]

[code]

There is no `Halt` command. Do you mean `Hold`? I'm also not really sure what `ToggleOpen` does, especially since maintaining state with these devices is admittedly very challenging.

[2019-10-16 03:25] dxdc commented on #36
@jdlambert thanks, and appreciate the explanation! (misread this the first time around and thought you meant `Halt`). I updated my instructions to show `Hold` instead of `Stop`. I also see `ToggleOpen` as a possible command, which I'm guessing just toggles what Bond perceives as the Open state?

Unfortunately, without 2-way communication, there's not a great way for many of these blind motors to r

[2019-10-16 03:35] dxdc commented on #36
I'm not entirely sure this is well supported in HomeKit, particularly without 2-way communication of what the current position is.

I've updated the URL as you suggested, but not sure it's really used unless `trigger_stop_at_boundaries` is set to `true`. I don't know if there are blind manufacturers that require this, but it's not required for mine.

There is probably some additional work to use `

[2019-10-16 03:39] jdlambert commented on #36
Yes, the current design has it so that if any action that's part of a "Feature" (that is, a set of actions and state and properties) is present, we expose all actions of the Feature. I think it's a bit noisy, and we will probably pare it down to a subset that makes sense. It really doesn't make sense to expose a Toggle when the origin actions are discrete Open/Close and On/Off, though the opposite

[2019-10-16 11:34] aarons22 commented on #39
This is fixed in [2.3.1](https://github.com/aarons22/homebridge-bond/releases/tag/2.3.1)

[2019-10-16 12:15] dxdc commented on #35
@iRayanKhan just playing with this a little bit, I wonder if the problem is that you're looking for the Fan Power State. It seems like this never gets touched by `homebridge-bond` -- essentially -- it sets the fan *speed* to 0%, 33%, 66%, or 100%, instead of *also* turning off the fan at 0%.

This is strange, because in the Home app itself, I CAN turn off the fan by just clicking on the icon.

Agr

[2019-10-16 17:54] iRayanKhan commented on #35
Closed:
Re-did my whole HomeBridge set-up and it seems to be working now. I guess it kept the v1 plugin or whatever, but make sure if this happens to anyone to remove v1 from
```/usr/lib/node_modules```

[2019-10-16 17:55] #35 closed

[2019-10-16 18:02] iRayanKhan commented on #26
@jdlambert off topic ish, but my remote has a way to control the brightness of the light by holding either the very top of the light toggle button, or the very bottom of the light toggle button to adjust brightness, any way bond can send multiple requests of it mocking the down press of the button?

To be more clear, there's only a light toggle so no specific button for on/off and brightness is ju

[2019-10-16 18:07] vdotn commented on #26
@iRayanKhan my bond has this mapped for my fan but it’d be a doable but bigger conversation to bring to this plugin because of the latency. My hunch is we’d do something stepwise for dimming similar to how fan speed is now. Why don’t you open a new feature request for dimming. I’ll have a think and opine there.

[2019-10-16 18:18] #30 closed

[2019-10-16 18:18] #39 closed

[2019-10-16 19:31] aarons22 commented on #26
I've actually been thinking about dimming since I have that feature on my fan hooked up through the Bond. I think it'll be another button that dims for a certain interval, at which the button would turn back off and it would stop dimming. I think the interval would be configurable in the config file. It can't be like the fan since you it's a command to start dimming and a command to stop.

Anyways

[2019-10-17 05:37] iRayanKhan opened #40 "Dimming Support"
This issue is a feature request for the addition of Dimming the fan light.

Currently bond supports dimming of the fan light and it would be great to extend that into this plugin.

My issue, is that my fan has only 1 button in relation to light, a simple toggle where you either hold the top of the button to brighten the bulb or hold the bottom of the button to dim it.

Instead of a separate access

[2019-10-17 11:30] aarons22 commented on #40
With the Bond API, dimming can only be controlled by [Start / Stop actions](http://docs-local.appbond.com/#section/Features/Misc-including-dimmers), so there is no way to specify the dim value.

Similar to your fan, it would have to be a HomeKit button/switch to start/stop the dim action, or we could setup the plugin to start/stop for a specific interval based on a button on the accessory. For exa

[2019-10-17 13:44] harryohalloran opened #41 "[Bond] Error getting device ids: TypeError: Cannot convert undefined or null to object"
**Describe the bug**
I just migrated my v1 to v2 after updating firmware, installing the updated version of homebridge-bond, purging cached accessories, and changing my config.json file, when I startup home bridge I get the following error:

[10/17/2019, 8:44:03 AM] Homebridge is running on port 51823.

[10/17/2019, 8:44:03 AM] [Bond] Error getting device ids: TypeError: Cannot convert undefined o

[2019-10-17 13:56] #41 closed

[2019-10-17 15:00] jdlambert commented on #26
Right, this is a common setup. If we have your remote's protocol in our database, we'll offer you this button. If we don't have this remote's protocol in our database — that is, you're recording the commands one-by-one — it's a hard problem to know where to "cut" the recordings in the right way so that the receiver perceives it as a continuous transmission.

[2019-10-17 15:17] iRayanKhan commented on #40
What if the slider could do it? Like by default have the light set to 100% and then when it goes down for example 10% and reports a request of wanting 90% it does the brightness down request once. Unless there's something I'm not getting, I glanced for the api docs too.

[2019-10-17 15:49] aarons22 commented on #40
The assumption that it starts off with full brightness won't hold well over time. It also shifts the source of truth from the Bond to HomeKit, which (to me) is a non-starter. The only way to guarantee a consistent experience is to use the Bond API as the source of truth and rely on it for the current state.

Others might disagree with this stance, but it's core to how I've structured the plugin to

[2019-10-17 15:49] aarons22 commented on #32
I've seen some inconsistency on my end as well. I'll take a look!

[2019-10-17 20:59] iRayanKhan commented on #40
I have a theory I want to test on my bond it's self for brightness, but if one of my fans does have dimming control and I try to add it into this plugin, would it crash to just add a light toggle?

[2019-10-18 00:12] aarons22 commented on #40
@iRayanKhan might be easiest if you just use the API directly to test anything out!

[2019-10-18 00:48] aarons22 commented on #32
Found the issue where you can't get fan speed above 67%. It's fixed in [2.3.2](https://github.com/aarons22/homebridge-bond/releases/tag/2.3.2)!

[2019-10-18 01:54] aarons22 commented on #40
I've taken a stab at this in [2.4.0](https://github.com/aarons22/homebridge-bond/releases/tag/2.4.0) (opt-in using the `include_dimmer` config parameter). I don't love the way HomeKit groups the switch in the UI because regardless of the order of the code, it always makes the dimmer switch the right vertical toggle and the light the bottom circular light switch. This is why I made it an opt-in fea

[2019-10-18 02:43] vdotn commented on #40
Interestingly I'm not getting a second switch for dimmer at all on either fan. Both have a dimmer action in the bond app. I tried nuking cached accessories, no difference.

What did I screw up?
Config snip:
[code]

[2019-10-18 02:45] vdotn commented on #26
With the addition of dimmer support you'll have to also have dimmer support for uplight and downlight separately.

[2019-10-18 02:58] vdotn commented on #32
The slider now shows correct values, probably Apple is doing some rounding and guessing to help out.

However the raw values are still off, which also affects Siri because it reads back the raw values as opposed to the value as interpreted by the Home app. I went through all the speeds on my 6-speed fan and the raw values are off as follows:

[code]

[2019-10-18 03:07] vdotn opened #44 "Firmware v. 2.9.2 released"
https://olibra.zendesk.com/hc/en-us/articles/360033791031-bond-bridge-CURRENT-Application-and-Firmware-versions-using-the-bond-home-application

Seems like a release with minor bug fixes. I updated and it's been working fine for me.

ALSO - and this is the bigger news - it seems that at some point between when I checked in June and now, Bond brought firmware parity between ZZ devices and the rest,

[2019-10-18 05:27] iRayanKhan commented on #32
Can confirm this works! Thank you so much for all the effort you've put in we all appreciate it.

[2019-10-18 14:43] aarons22 commented on #40
@vdotn can you post a screenshot of your device commands from the Bond app? Curious which ones you have setup. I'm keying off of the existence of the `StartDimmer` action, so I'm wondering if there is something different about your commands.

[2019-10-18 15:00] vdotn commented on #40
Here you go. I’ll also get a dump of what actions the API returns in a little bit. That might actually be more helpful to you.
![A0E1D3DD-ECEB-4924-889E-141986982129](https://user-images.githubusercontent.com/36348492/67105310-8b8a5d00-f196-11e9-8b2b-46722aa0c7a6.png)

[2019-10-18 15:01] vdotn commented on #40
Actually bedroom fan might be a better example it only has one light and is pretty vanilla.
![D1BDB2F9-C407-4A69-8905-8BFB42B0964E](https://user-images.githubusercontent.com/36348492/67105395-b2489380-f196-11e9-850a-a117631c3742.png)

[2019-10-18 15:05] iRayanKhan commented on #40
Since most remotes have the ability to change their own frequency on the back or inside of it to match the fan, what if we just bought a remote and program it to the bond with the same frequency, but the remote has proper dim/brighten actions? To bond you'd be adding an action rather than a new remote, since same frequency.

[2019-10-18 15:08] iRayanKhan commented on #26
@jdlambert I'll try this out again since I haven't added any fans since V1, thanks!

[2019-10-18 17:02] vdotn commented on #40
I don’t know if most ceiling fans take discrete dim up and dim down actions. I always thought their dimmers are primitive and just went up and down in a loop. Would be awesome if you’re right, let us know what your testing shows!

[2019-10-18 18:46] jdlambert commented on #26
We have an internal tool that we want to provide to the public soon. We just need to clean it up and make it presentable, but we've had other priorities recently (the big push has been "fully offline control").

[2019-10-18 19:50] iRayanKhan commented on #40
I always thought their dimmers are primitive and just went up and down in a loop.

Sadly I think that may be the outcome. After November 2nd I can buy whatever needed, so I'll buy it right after then.

[2019-10-18 20:08] vdotn commented on #40
@aarons22 Here's the output that the API gives for actions:

[code]

[2019-10-18 22:08] chrismerck commented on #40
This is true for most r/c ceiling fans where the remote does *not* have an LCD screen. There's just a single RF signal for "light" which, when sustained, causes the receiver to dim up/down in a cycle. We've thought a lot about how to deal with that, but there's really no good answer, and we don't make an attempt to dead-reckon the brightness.

That's why @vdotn's device is only exposing the Light

[2019-10-18 22:14] chrismerck commented on #44
Yes, getting the same firmware to run on both versions of hardware was epic...

Details on the V2 platform here, if you're curious about the 1.0 - 2.0 changes: https://forum.bondhome.io/t/bond-v2-platform/466

[2019-10-18 22:16] chrismerck commented on #36
@dxdc perhaps the `ToggleOpen` name is not super clear, sorry!

From the docs:

Source: http://docs-local.appbond.com/#section/Features/Open

[2019-10-18 22:20] dxdc commented on #36
Thanks @chrismerck! I'm not sure it's as helpful for shades (especially since state control isn't really available on mine, and, shades aren't distinctly open/closed since they can have positions in between) but thus far my implementation of homebridge-blinds is working very well to control my blinds!

[2019-10-19 01:34] chrismerck commented on #36
FWIW, we actually added ToggleLight (and friends) in response to users wanting to have a single endpoint to tie to a wall-mounted momentary push-button, without needing to track the state on the integration side in that case.

[2019-10-19 04:03] vdotn commented on #44
@chrismerck thanks for this. Great write up and I love the transparency.

[2019-10-22 14:09] JT-EOD opened #45 "Speed settings display/function backward"
When the Bond is set to fan level ‘3’ (high), HomeKit displays the fan at 33%. When the fan is set to level ‘1’ (low), HomeKit displays the fan at 100%. This is also the behavior of setting the fan within HomeKit; setting the fan to 33% results in high and setting to 100% results in low.

Plugin version: 2.4.0
Bond version: 2.9.2
iOS 13.2 (17B5077a)

[2019-10-22 16:43] vdotn commented on #45
Are you using homebridge natively or via docker? This was fixed many versions ago, my first thought is if you’re using docker there’s an issue I’ve seen with the container not properly updating plugins on startup.

If it’s native then we’ll have to dig further!

[2019-10-22 16:43] #44 closed

[2019-10-22 19:08] iRayanKhan commented on #40
Closing; New version supports this action and I guess primitive dimmers need an expensive remote or aftermarket receiver.

[2019-10-22 19:08] #40 closed

[2019-10-22 19:46] methnen commented on #32
@aarons22 I'm using homebridge-bond version 2.4.0 and with an older Bond Hub that's running the latest v2.9.4 firmware.

The reverse, stop and light toggle functionality is working fine but the fan speed stuff is completely broken.

No matter where I put the fan speed on HomeKit 25% 50%, 75%+ the fan is only ever getting set to it's lowest speed.

This is an older 3 Speed MinkaAire fan.

Happy to

[2019-10-22 19:52] methnen commented on #9
+1 for fireplace support.

However, I'm most interested in using it to turn OFF the fireplace and not for turning in on.

Ideally any implementation would have the option to only include an off function and no on function. The last thing I need is accidentally turning my fireplace on while I'm on vacation or something along those lines.

[2019-10-22 21:23] aarons22 commented on #45
Yeah sorry about that, I'm seeing the issue on my end as well. Looks like I introduced this bug in the latest version. I recommend downgrading if you need that functionality right now

[2019-10-22 21:29] aarons22 commented on #45
I just confirmed this worked fine on 2.3.2 (reverted to this on my own setup). I won't have time to dig into this tonight, but I'll get it fixed soon

[2019-10-22 21:53] vdotn commented on #45
Interesting, maybe it’s my setup that isn’t upgrading correctly then! I don’t have this regreasion. 🤔

[2019-10-22 21:58] JT-EOD commented on #45
Just to follow up - I just switched over to a docker version of HomeBridge on a Synology NAS. I was running it on a Pi up until that point. Come to think of it, I might have switched over the day your last update dropped.

[2019-10-23 22:33] dxdc commented on #36
Just to update this thread:

I've made several additional improvements to [homebridge-blinds](https://github.com/dxdc/homebridge-blinds). I'm sharing my forked repo, but also submitted these to as a PR, so hopefully they will be incorporated into the new release.

It's working really well with all of my shades.

One of the features that is quite clever (added by the authors, but updated by me) is

[2019-10-24 12:47] thevcao commented on #40
I discovered that the issue (for vdotn and myself) is that the include dimmer config needs to be set in the root of the platform config ie:

’’’
{
		"platform":"Bond",
		"include_dimmer": true,
		"bonds": [
			{
				"ip_address": "<ip>",
				"token": "<token>"
			}
		]
}
’’’

[2019-10-26 21:52] LeviJSmith opened #46 "Getting ERR: Bonds array is required but missing from config.json"
**Describe the bug**
Getting the following error for bond in homebridge.

 [10/26/2019, 3:45:01 PM] [Bond] Initializing Bond platform...
[10/26/2019, 3:45:01 PM] [Bond] ERR: bonds array is required but missing from config.json

**Information (please complete the following information):**
 - Plugin version - homebridge-bond v2.4.0
 - Bond firmware version - v2.9.4
 - iOS version - 13.1.3

**Additio

[2019-10-27 18:00] aarons22 commented on #46
There was an update to the config structure. It should be:
[code]

Keep in mind some users are having issues with fan speed on 2.4.0, so you might be better off on 2.3.2 (see https://github.com/aarons22/homebridge-bond/issues/45)

[2019-10-27 20:20] LeviJSmith commented on #46
I can't believe I missed that in the config.  Updated the config structure and everything working good again.  Thx for your help.  Have a great day!!

[2019-10-27 20:21] #46 closed

[2019-10-31 00:17] aarons22 commented on #45
This should be fixed in [2.4.1](https://github.com/aarons22/homebridge-bond/releases/tag/2.4.1)!

[2019-10-31 23:28] Crazywill1 opened #49 "[Bond] ERR: bonds array is required but missing from config.json"
I had it working on my Hoobs homebridge. was working great I uninstalled it to do a tutorial. tried to reinstall it and not showing up. I reinstalled homebridge from scratch update plugin, bond hub, and homebridge. This is the error it get.
[Bond] Initializing Bond platform...
[Bond] ERR: bonds array is required but missing from config.json
Loading 2 accessories...

 - Plugin version (run `npm lis

[2019-11-01 00:25] aarons22 commented on #49
The config changed a few versions back:
[code]

Can you make sure your config looks like this?

[2019-11-01 00:50] Crazywill1 commented on #49
I tried that was not working after playing with it for hours the 1 time this was what would work with out errors but now nothing.
        {
            "platform": "Bond",
            "bond_ip_address": "<BOND_IP_ADDRESS>",
            "bond_token": "<BOND_TOKEN>"
        }
The original code would just give me errors.
Thanks for the reply.

[2019-11-01 00:57] aarons22 commented on #49
Sorry, I'm a little confused. You're saying the config I posted isn't working on 2.5.0?

[2019-11-01 01:06] Crazywill1 commented on #49
Sorry yes the homebridge configuration file. No I uninstalled it an reinstall it. tried rebooting it several times. It's just not working and I had it working with that code. Could it be the update to Bond? v2.9.4.

[2019-11-01 01:12] aarons22 commented on #49
Possibly, but not likely. Can you clear you cached accessories? (`rm -rf ~/.homebridge/accessories/cachedAccessories`)

Also, just to confirm, you’re still seeing `ERR: bonds array is required but missing from config.json`

[2019-11-01 01:23] Crazywill1 commented on #49
I'v tried that as well (rm -rf ~/.homebridge/accessories/cachedAccessories)
[10/31/2019, 7:07:48 PM] [Bond] Initializing Bond platform...
[10/31/2019, 7:07:48 PM] [Bond] ERR: bonds array is required but missing from config.json
[10/31/2019, 7:07:48 PM] Loading 2 accessories...

I'm sorry man feel like I'm harassing you. I'v never asked on these form before. It's just I had it working. I took parti

[2019-11-01 04:10] mvdesign opened #50 "Accessories show up as "No Response" or do not show up at all."
**Describe the bug**
Homebridge-bond appears to be initializing correctly, but all of my Bond accessories show up in the Home app with a red "No Response" message. Or they do not appear at all.

**Information (please complete the following information):**
 - Plugin version: 2.5.0
 - Bond firmware version: 2.9.4
 - iOS version: 13.2

**Additional context**
I have 2 fans/lights that were working jus

[2019-11-01 04:27] mvdesign commented on #50
Huh. I just opened Home again after submitting the above post and my Bond accessories now appear. Even though I'm running Homebridge with no Bond in the `config.json`. The tiles even act like I can turn the lights and fans on and off. Obviously, none of that actually turns the lights or fans on and off, but it's not a behavior I've seen in my previous troubleshooting.

Sadly, restoring Bond to the

[2019-11-01 11:50] aarons22 commented on #49
No worries! It can be frustrating when things seem like they're supposed to work but don't 😅

It's odd that error is showing up, because it should only happen _if_ the `bonds` key is missing from the config. Would you mind posting a screenshot of your config?

[2019-11-01 12:01] Crazywill1 commented on #49
So weird every time I put your code in I would get an error. someone just posted there code and it worked. looks just like yours. Maybe it was something with a copy and paste or Hidden characters.
{
            "platform": "Bond",
            "bonds": [
                {
                    "ip_address": "<ip address>",
                    "token": "<token>"
                }
            ]

[2019-11-01 12:03] aarons22 commented on #49
Great to hear!

[2019-11-01 12:03] #49 closed

[2019-11-01 12:03] Crazywill1 commented on #50
You fixed my problem with your code.

[2019-11-01 13:36] mvdesign commented on #50
Hey, that's great! Glad yours is working again.

[2019-11-02 03:11] ShadowBullet commented on #9
+1 for fireplace support as well, something as simple as an on/off switch would work fine for my application as that is all that mine supports

[2019-11-03 18:28] dxdc commented on #9
Although I don't have a fireplace, something I discovered accidentally:

- Program a new device in your Bond. In the selection, choose the bottom option ("Device"). Don't choose Fireplace, etc.

- You can set a power on and/or power off command only.

- These are automatically added to Homebridge! I bought some 433 Mhz Rf-controlled outdoor electrical outlets that work perfectly under this set up.

[2019-11-06 19:17] iRayanKhan commented on #50
@mvdesign Your config is wrong, there was an update to the plugin that changed the way the config works and just swap it out for the new config and remove the bridge from your home and clear persist and cached accessories again.

[2019-11-06 21:09] dsite commented on #50
@iRayanKhan Thanks for your reply. I'm sorry to be a bit obtuse, but could you be more specific about what I need to fix in my config? I have no doubt that this may be user error on my part, but I set this up within the last two weeks and I copied and pasted directly from the readme. I've compared them pretty carefully, and I don't see any difference between my setup and the recommended config.

[2019-11-06 21:10] mvdesign commented on #50
@iRayanKhan Thanks for your reply. I'm sorry to be a bit obtuse, but could you be more specific about what I need to fix in my config? I have no doubt that this may be user error on my part, but I set this up within the last two weeks and I copied and pasted directly from the readme. I've compared them pretty carefully, and I don't see any difference between my setup and the recommended config.

[2019-11-09 00:11] chrisoehmke opened #51 "No Dimming Feature"
In my Bond app, I have the option to dim my lights with the start/stop, but I don't have the option to dim in HomeKit. I have added the dimmer parameter and still have nothing. Attached is my config.json. There aren't any missing items in my config, I just removed them for this upload.

![Screen Shot 2019-11-08 at 6 00 37 PM](https://user-images.githubusercontent.com/57383772/68518744-fc330f80-025

[2019-11-09 20:03] apollo316 commented on #31
I have more information for this thread. It is Homebridge crashing. See attached. Bonddata.map is not a function, it says. If I remove the bond platform from the config.js everything works fine. My config is good, confirmed with jsonlint. My bond works fine by itself, just not within homekit. Bond firmware: 2.9.5.

![image](https://user-images.githubusercontent.com/29845379/68534374-21765b00-02f1-

[2019-11-09 20:16] apollo316 commented on #31
For added note: My fan is showing in Homekit regardless of the bond platform being there or not. And Homekit thinks it's communicating with the fan just fine when I have the platform removed from the config.json. But when I add the platform I get the above error and it kills homebridge from running. I have reinstalled the bond platform many times and rejiggered the config.json removing and adding

[2019-11-09 20:49] apollo316 commented on #31
Also, I tried homebridge-bond version 2.5.0 and 2.4.0. Homebridge version 0.4.50. NPM 5.6.0. NodeJS 9.9.0.

[2019-11-10 18:35] aarons22 commented on #51
The dimming feature is a bit experimental. Right now, it gets added a second light to the fan. Can you confirm you don't see the second light in the Home app?

Also, debug logs during your homekit startup would also be helpful.

[2019-11-10 18:35] #45 closed

[2019-11-10 18:37] aarons22 commented on #50
@mvdesign can you post your homebridge startup logs with the debug flag on?

[2019-11-10 18:42] aarons22 commented on #31
@apollo316 Sounds like there is something going on with the cached data. Can you clear your cache and try again? `rm -rf ~/.homebridge/accessories/cachedAccessories`

[2019-11-11 00:48] iRayanKhan commented on #50
Idk what I was on when I typed that, I must have read wrong, config is fine, I'm sorry. When I upgraded from V1 to V2, my fans never updated for some reason despite cache accessories and persists. I fixed my wiping my Pi, which I hope you don't have to do. And as Aaron said to run it with the debug flag it's ```homebridge -D```if you didn't know.

[2019-11-11 01:01] apollo316 commented on #31
No luck. I cleared the accessories and rebooted the pi. Still errors out and stops only if the Bond platform is enabled in the config.json. Any other thoughts?

[2019-11-11 04:30] mvdesign commented on #50
Sure. I'm not sure if this is what you are looking for, but when I use `homebridge -D` here is what I get:

[code]

[2019-11-11 17:24] iRayanKhan commented on #50
The debug confirms that nothing is cached, but struggles to add your 2 fans. It says adding, but doesn't add oddly. Have you tried removing homebridge-config-ui-x? I don't know if that is causing the issue (it shouldn't) since this plugin doesn't have a schema for that plugin (I think). My plugin for Homebridge-Chamberlain worked without the schema file, so it shouldn't be the issue.

[2019-11-11 17:39] mvdesign commented on #50
@iRayanKhan

Looks pretty similar...

[code]

config.json:
[code]

[2019-11-11 21:57] mvdesign commented on #50
Updated Bond to 2.9.5 firmware. Updated iOS to 13.2.2. Neither fixed the issue.

[2019-11-11 22:56] aarons22 commented on #50
Can you add `”debug”: true` to your bond config? I’m not using the debug flag from homebridge right now

[2019-11-11 22:59] aarons22 commented on #31
Can you add `”debug”: true` to your bond config and paste the logs from startup here?

[2019-11-12 04:08] chrisoehmke commented on #51
I do not see a second light in the Home app.

Home App:
![IMG_0751-1](https://user-images.githubusercontent.com/57383772/68640293-e466c000-04cc-11ea-936c-abe4a1cc42c8.png)

My Bond App:
![IMG_0752-1](https://user-images.githubusercontent.com/57383772/68640301-e9c40a80-04cc-11ea-98bc-e23a723e32ce.png)

I can't find any logs for my homebridge. The are no homebridge logs in /var/log

[2019-11-12 05:10] mvdesign commented on #50
Ah. Finally figured out where that was supposed to go...

[code]

[2019-11-12 12:18] aarons22 commented on #50
Well this is certainly more helpful! It looks like your Office Fan doesn't have explicit speeds, but I can see from the logs that it has a `max_speed` of 6. The plugin should be using that to determine your range, but obviously its not. Should be a fairly straight forward fix, but at least we know what the issue is! 😄

[2019-11-12 12:20] aarons22 commented on #51
@chrisoehmke I just looked at your config again and realized what the issue is. `include_dimmer` and `debug` need to go outside of the bonds array:
[code]

[2019-11-12 14:02] mvdesign commented on #50
Oh, I'm glad we're making progress! I'd been trying the `debug` setting right after `token`, with obvious lack of success. But now I see it needs to be at the same level as `bonds`.

Yeah, the Office Fan is a three-speed fan that does not have buttons for individual speed settings, just buttons for faster and slower. I wasn't able to find a remote like that through Bond, so I had to configure it a

[2019-11-12 17:32] apollo316 commented on #31
I sure can but where are the logs stored so I can share them? I had debug true when I got that error in the picture above but I'm sure the logs you want have much more detail. I also tried adding a fake second bridge since the error acts like it's looking for an array instead of a function.

[2019-11-13 05:27] plainsane opened #52 "Ids are duplicated across bonds"
**Describe the bug**
I have 2 bonds and the device Id is duplicated across both my bonds.

**Expected behavior**
I have 5 fans, HomeKit only shows 4.

**Screenshots**

Nov 13 00:01:12 zwave homebridge[2186]: [2019-11-13 00:01:12] [Bond] Adding accessory Master Bedroom CF
Nov 13 00:01:12 zwave homebridge[2186]: [2019-11-13 00:01:12] [Bond] Adding accessory Master Bedroom CF
Nov 13 00:01:12 zwave ho

[2019-11-13 14:02] chrismerck commented on #50
Actually, that's the "Family Room" device with the max_speed=6. You can see that for the device id 15e64067 "Office Fan", there's no max_speed in the properties.

It is understandable that @aarons22 's implementation expects the SetSpeed and max_speed to be present, since that is what we claim in the Speed feature documentation:
http://docs-local.appbond.com/#section/Features/Speed

The cause of t

[2019-11-13 15:31] jdlambert commented on #52
Obviously a bug, but one way you could get resolution right now: Re-record the device. The ID on the V2 platform is a random 32-bit hex number, so there's basically no risk of clashing IDs. On the V2 platform it just incremented the ID for every resource created.

[2019-11-14 13:49] plainsane commented on #52
ill readd the device this weekend.

[2019-11-15 12:56] aarons22 commented on #50
@chrismerck to boil this down a bit, it sounds like I can exclude any fan that doesn't have that `max_speed` property. That would at least allow @mvdesign to control the family room fan until there is a more deterministic way to handle the office fan. It would still show up as a light, but the fan functionality wouldn't exist.

[2019-11-15 16:49] mvdesign commented on #50
If that's possible, I'm certainly okay with that until Bond is able to address this in the firmware. Having the Office Fan Light in HomeKit would be more useful to me right now than the fan functionality. I can always control the fan manually or with the Bond app.

Thanks to you both for thinking this through.

[2019-11-15 23:05] chrisoehmke commented on #51
That fixed it, thanks.

[2019-11-15 23:05] #51 closed

[2019-11-16 09:49] altrahm opened #53 "Error: EHOSTUNREACH prevents connecting to bond"
Here's the debug log:
[code]

**Information:**
 - Plugin version: homebridge-bond@2.5.0
 - Bond firmware version: v2.9.5

**Additional context**
I'm using the bond's local ip in the config file. Using this worked a couple of times, but would stop after a little (not sure how long, maybe 10 minutes?). I tried clearing the cachedAccessories and persist folders and re-adding the device to the Home ap

[2019-11-18 01:21] plainsane commented on #52
Re-aded it, plug-in does not like missing defies subsequent boot, just as a. Heads up.  I had to manually prune my cached accessories

[2019-11-18 12:28] aarons22 commented on #53
It sounds like the bond is unable to resolve your IP address. Can you confirm that running the curl command found in the bond v2 api docs works for you? http://docs-local.appbond.com/#section/Getting-Started/Check-Bond-Version

[code]

[2019-11-18 12:41] aarons22 commented on #50
@mvdesign I went ahead and made the changes in [2.5.1](https://github.com/aarons22/homebridge-bond/releases/tag/2.5.1). Can you try it out?

[2019-11-18 14:22] montanaishome opened #54 "Dimmer for light not present?"
Added “include_dimmer”: true to my configuration, but there is no panel to dim the lights in my home app.  I can dim the lights from the bond app, though. Remote is a litex with an lcd panel.

[2019-11-18 15:30] mvdesign commented on #50
Thanks, Aaron.

The good news is that running Homebridge with Bond no longer nukes my other Homebridge accessories. So that's progress.

The bad news is that Home still doesn't want to add Homebridge as an accessory as long as the Bond platform is there. And when Home does add Homebridge as an accessory (without the Bond platform), it doesn't then acknowledge that Homebridge has attached Bond acce

[2019-11-21 16:43] dxdc commented on #36
For anyone still following this thread:

All of the latest changes have been merged and released into the official repo. You can also find Bond-specific instructions for `config.json` here as well:

https://github.com/zwerch/homebridge-blinds

[2019-11-22 12:06] aarons22 commented on #54
Can you confirm you config looks like this?
[code]

And just to be clear, it shows up as a light switch within the Accessory group.

[2019-11-22 12:24] aarons22 commented on #50
@mvdesign Thanks for the info, the logs were really helpful! This one is a bit tricky for me since I can't replicate it on my end, but I'm pretty sure my logic for checking for `max_speed` was just wrong. This should be fixed in [2.5.2](https://github.com/aarons22/homebridge-bond/releases/tag/2.5.2).

Let me know how it goes!

[2019-11-22 21:09] mvdesign commented on #50
Hooray!

I went through the same steps as before, and it paired properly in step 4. I can now control Family Room Fan, Family Room Fan Light, and Office Fan Light.

Office Fan did not show up in the Home app, but that's okay with me for now. It's the lights that are most useful to me at the moment.

[2019-11-25 18:43] ethanlevine commented on #9
+1 for adding native fireplace compatibility with on/off support as a switch.

[2019-11-27 04:24] patrickoleary1977 opened #55 "Fan Speeds - Inconsistent"
Hey there, awesome plugin.

Lights on and off work perfect for me.

Fan speed on the other hand is very inconsistent.  I have a 3 speed fan that works perfect in the Bond app. If I tell Siri, 100%...it will set it to low.  From there, if I say 33%, it will set to medium, etc.  If I shut off and then tell Siri 33%, it will set to 66%.  I can't seem to find a rhyme or reason for it.  Happy to help d

[2019-11-28 06:58] SJNix commented on #9
Definitely another +1 for adding fireplaces!

[2019-11-28 12:11] reffr opened #56 "New user - Cannot find devices"
I'm using the new bond app on iPhone. It works great. My other homebridge devices are working great. I'm on firmware v2.9.5.

Does the Bond ID go anywhere in the config file?

If I try to access the bond by web browser directly by entering an IP address I get the screen shot attached.
<img width="469" alt="Screen Shot 2019-11-28 at 6 09 49 AM" src="https://user-images.githubusercontent.com/3000836

[2019-12-01 20:48] jnanes commented on #26
following. would love to have support for my light with a top and bottom light if possible.

[2019-12-06 07:19] fancypants66 commented on #55
Agreed awesome job, love this plugin as well!

However, I've also got a 3-speed fan on v2.5.2, and while the light works as expected, the fan-speeds not responding at all from the Home app. I downgraded back to homebridge-bond@2.5.0 and fan-speeds are working as expected.

[2019-12-06 20:42] shbui commented on #55
The issue is when retrieving fan speeds from Device, bond API returns an array of fan speeds in random order. The fix is to sort fan speeds before using them. Here are steps:

1. open index.ts
2. search for a line that contains

const values = Device.fanSpeeds(device);

replace it with
const values = [1,2,3]; //for 3-speed fan

or
const values = [1,2,3,4]; //for 4-speed fan

3. Restart homebridge.

[2019-12-07 07:17] fancypants66 commented on #55
Thanks for the info @shbui - I'll give it a go!

[2019-12-09 13:57] chrismerck commented on #55
It sounds like there's a dependence somewhere on the Bond `devices/<id>/commands` API. I would not recommend that, as this API is really just for the Bond Home app and not intended for integration use.

Instead, one should use `devices/<id>/properties.max_speed` to determine the number of speeds that the fan has.

Also note that, if you avoid dependence on commands, then the same integration shoul

[2019-12-09 14:00] chrismerck commented on #52
To be clear, this odd behavior was a "bug" in the Bond firmware (fixed in `v2.10.9`), not in homebridge-bond. However, no negative consequence should have resulted from this. It just violates expectations to see the same `token` in two bonds of the same user.

[2019-12-09 15:48] jimboslicethat commented on #55
I'm experiencing the same thing on the latest version `2.5.2`. I have a 3 speed fan My 100% speed is now my 33%  speed, my 33% speed is now my 100% speed, and my 66% speed stayed the same.

[2019-12-13 19:54] chrismerck commented on #55
Hey James (@jimboslicethat) FWIW, v2.5.2 is very old "MVP" firmware. I cannot say confidently that we've fixed a bug related to this specific issue since v2.5.2, but we are up to v2.10.8 and have a tonne of improvements! Perhaps you are on the old Bond Bridge (V1) app rather than the new Bond Home (V2) app?

[2019-12-13 20:53] shbui commented on #55
I saw this issue on my 3-fan speed with Bond v2.9.5. When using Postman to query fan speeds from Bond, I saw Bond returning an array of fan speeds with values in random order. It should be [1,2,3]. The calculations in homebridge-bond index.ts are based on an order of fan speed, therefore, my fan speed is consistent. To fix this, values returned by calling Device.fanSpeeds(device) in index.ts shoul

[2019-12-14 16:10] jimboslicethat commented on #55
@chrismerck I started noticing this issue when I upgraded my raspberry pi to have version 2.5.2 of homebridge-bond plugin. My Bond Home is completely up to date with firmware version 2.10.8.

[2019-12-15 23:59] patrickoleary1977 commented on #55
That seems to have worked for me on the 33% and 100%.  However, it still won't go to medium i.e. 67%.

[2019-12-17 02:06] aarons22 commented on #55
@shbui thanks for the investigation here! I'll get out a fix to sort the values from the API. In the future feel free to throw up a pull request and tag me for review as I'm not always checking in on this repo 😄

[2019-12-17 02:11] aarons22 commented on #55
@chrismerck the dependency on the commands API was discussed in [this issue](https://github.com/aarons22/homebridge-bond/issues/13) and in the [bond forum](https://forum.bondhome.io/t/smart-by-bond-api-command-not-working/907/13?u=aarons22).

TLDR: using `max_speed` is great, but it assumes the user added all speeds in the sequence.

Also, I believe the folks in this thread were referring to v2.5.

[2019-12-17 02:17] aarons22 commented on #55
@shbui Well that was easy. I just pushed a fix in [2.5.3](https://github.com/aarons22/homebridge-bond/releases/tag/2.5.3). Can you try it out and see if it works as you would expect?

[2019-12-17 02:24] aarons22 commented on #56
It sounds like the bond is unable to resolve your IP address. Can you confirm that running the curl command found in the bond v2 api docs works for you? http://docs-local.appbond.com/#section/Getting-Started/Check-Bond-Version

[code]

[2019-12-17 02:24] aarons22 commented on #54
@montanaishome any update on this?

[2019-12-17 02:25] aarons22 commented on #52
@chrismerck does this mean re-adding devices will definitely fix the issue?

[2019-12-17 02:49] jdlambert commented on #52
@chrismerck this is an issue of a device ID clash over two devices on two Bonds. rather than the duplicated token issue (which we did indeed patch in v2.10.9). This was due to 1) @plainsane using two Bonds on the V1 platform 2) Two devices both being the 18th "thing" created on the platform 3) `homebridge-bond` not playing well with two devices with the same ID

@aarons22 In effect, yes. Technical

[2019-12-17 15:01] aarons22 commented on #52
Great! I'm going to close this issue and add a note in the README. If there are changes required by the plugin we can re-open at that time

[2019-12-17 15:01] #52 closed

[2019-12-17 16:00] vdotn commented on #32
I’m thinking we can call this resolved. It seems to be working as expected now, including my 6-speed fan.

[2019-12-17 17:31] methnen commented on #32
Yes, seems to working correctly now with the most recent update.

[2019-12-17 18:07] #32 closed

[2019-12-18 02:28] fancypants66 commented on #55
I think I may be experiencing a different issue. Running either 2.5.2 or 2.5.3 of homebridge-bond, fan lights continue to work as expected - but changing fan speeds in either Home app or Siri and nothing happens?? The Debug log is completely blank as if no fan speed command was ever sent. Bond is on firmware v2.10.8. Downgrading back to homebridge-bond@2.5.0 and fan speeds work as expected. Is the

[2019-12-18 02:34] patrickoleary1977 commented on #55
I updated.  That didn’t work for me.  In Home, if I set to 100% the fan comes on high, if i set to 67% the fan goes to low, if i set to 33% the fan goes to medium.

[2019-12-18 03:01] fancypants66 commented on #55
Ok - I cleared out my accessories/persist cache in homebridge and 2.5.3 fan speeds are now working correctly for me. 3-speed fan. Debug commands for fan speeds are now logging for me.

[2019-12-18 03:03] patrickoleary1977 commented on #55
How can I do the same? Sorry, homebridge newbie.

[2019-12-18 03:07] fancypants66 commented on #55
@patrickoleary1977 depends your homebridge setup - but on a raspberry pi, I've got it in these locations: /var/lib/homebridge/accessories/ and /var/lib/homebridge/accessories/persist/. It's a good idea to make a copy before clearing it out just incase something goes awfully wrong ;)

[2019-12-19 12:28] ntableman opened #58 "Every So Often All Names Are Reset"
**Describe the bug**
When I wake up in the morning all my Bond devices are renames this like:

Garage Bedroom Garage Bedroom Ceiling Fan

When I last left it, it was called Garage Bedroom Ceiling Fan

**Expected behavior**
Keep the name

**Information (please complete the following information):**
 - Plugin version (run `npm list -g homebridge-bond` in terminal)

homebridge-bond v2.5.3

 - Bond fi

[2019-12-22 07:08] chrisoehmke opened #59 "Light Turns Off With Fan"
The way Bond interacts with my controller is that whenever the ceiling fan turns off, the lights toggle off. This wouldn't be an issue, except that the light state doesn't change. I have to go into Bond and fix the state of the light. Is there anything I can add to the index file to toggle the light back on when the fan gets turned off?

[2019-12-22 17:15] #59 closed

[2019-12-23 15:13] chrismerck commented on #59
Hey Chris, for what its worth, you might try deleting the trouble command on Bond app and re-programming just that effected command. This may or may not work depending on how your remote control protocol works. --- It seems to make most sense to address this problem at the Bond Bridge rather than in the homebridge-bond driver, right?

[2019-12-23 16:57] chrisoehmke commented on #59
That's exactly what I ended up doing. I didn't think it would work because the remote doesn't have a separate button for each speed, it's all one button. Press it once, it goes to high, press it again it toggles medium, again toggles low, and press it a fourth time and it turns it off. Bond was able to recognize the speed rather than it just being a speed toggle command, if that makes sense. I jus

[2020-01-05 17:48] #50 closed

[2020-01-05 17:48] #54 closed

[2020-01-05 17:54] #55 closed

[2020-01-05 17:56] aarons22 commented on #58
@ntableman This may be due to a recent PR: https://github.com/aarons22/homebridge-bond/pull/57

If you adjust the name in HomeKit when adding the accessory, it shouldn't rename them. Does this happen every morning?

[2020-01-05 17:57] aarons22 commented on #56
@reffr happy to help with this issue but need more info. If not, I'll close this issue

[2020-01-05 17:57] aarons22 commented on #53
@altrahm happy to help with this issue but I need more info. If not, I'll go ahead and close the issue.

[2020-01-05 18:01] aarons22 commented on #31
@apollo316 you can enable debug mode by following instructions [here](https://github.com/aarons22/homebridge-bond#debug-mode). Debug logs will show up in the console. I'm closing this issue since it's old and I'm not sure your issue is related. If you are still getting errors, please open a new issue and provide debug logs!

[2020-01-05 18:01] #31 closed

[2020-01-08 13:28] ntableman commented on #58
Yes...I rename them and then the next morning they are reset and back to Default Room. LMK what debug info I can get you.

[2020-01-09 19:46] wnaylor opened #60 "Bond Plugin for V2"
Aaron,
What is the problem here. Please help. The Bond IP address is 192.168.1.48 and the token is correct. I have established that through the instructions but I am getting these error messages and no accessories are found.

[Bond] Initializing Bond platform...
[1/9/2020, 2:43:46 PM] [Bond] ERR: A request error occurred: Error: Invalid URI "http:///%3C192.168.1.48%3E/v2/devices"
[1/9/2020, 2:43:4

[2020-01-10 00:11] aarons22 commented on #60
Based on what you posted, it looks like there might be some extra characters in your IP address. Can you post your config file?

[2020-01-10 00:17] aarons22 commented on #58
Admittedly I wasn't running the most recent version on my homebridge server, so I just updated and will see if I can replicate the issue.

[2020-01-10 00:44] jd0uglas28 opened #61 "Support Multiple Bonds?"
Hi Aaron,

Does this support multiple Bond hubs?  Here is the error I am getting:

[1/9/2020, 6:23:34 PM] Homebridge is running on port 51826.
[1/9/2020, 6:23:34 PM] [Bond] ERR: A request error occurred: Error: getaddrinfo ENOTFOUND undefined undefined:80
[1/9/2020, 6:23:34 PM] [Bond] Error getting device ids: TypeError: Cannot convert undefined or null to object
[1/9/2020, 6:23:34 PM] [Bond] 3 ca

[2020-01-10 01:26] wnaylor commented on #60
{
	"bridge": {
		"name": "Homebridge",
		"username": "C8:28:3D:E9:CE:30",
		"port": 51826,
		"pin": "041-78-280"
	},

	"platforms": [{
			"platform": "SensiboSky",
			"name": "Sensibo",
			"apiKey": "cTzFrriiwg0PEQRJS0KLAfOI7Wv3UI",
			"timeLapse": 5,
			"ai": true,
			"hideFan": false,
			"hideHumidity": true,
			"fixedState": "auto"
		},
		{
			"platform": "Bond",
			"bonds": [{
				"ip_address"

[2020-01-10 01:40] aarons22 commented on #60
Remove the < and > characters from both IP address and token

[2020-01-10 01:52] wnaylor commented on #60
Thank you for your support. I edited my json file removing the <> from both IP address and Token and now everything is working fine. Happy New Year and Thank You.

{
	"bridge": {
		"name": "Homebridge",
		"username": "C8:28:3D:E9:CE:30",
		"port": 51826,
		"pin": "041-78-280"
	},

	"platforms": [{
			"platform": "SensiboSky",
			"name": "Sensibo",
			"apiKey": "cTzFrriiwg0PEQRJS0KLAfOI7Wv3UI",

[2020-01-10 01:56] #61 closed

[2020-01-10 01:57] jd0uglas28 commented on #61
Sorry, I figured out the problem by reading thru the closed issues.

[2020-01-10 13:32] #60 closed

[2020-01-13 00:18] thomasmaxson commented on #53
I am having this exact issue. I followed the directions, and can confirm that I am receiving a 200 OK header response code.

[2020-01-14 13:01] aarons22 commented on #58
Just curious, do either of these posts sounds like the same issue? I happened to catch these in the past couple days and it sounded similar:
https://www.reddit.com/r/HomeKit/comments/enoaii/my_home_reverts_itself_back_to_old_settings/
https://www.reddit.com/r/HomeKit/comments/enmjqy/homekit_keeps_reverting_back_to_old_settings

[2020-01-19 15:45] jqnatividad opened #62 "Add BPUP support"
With the latest firmware now supporting Bond Push UDP Protocol (BPUP), it’d be nice if the plugin is updated to take advantage of it to reduce latency of updates in HomeKit.

In my case, I have a Logitech POP button going thru SmartThings to interact with Bond to control my kitchen ceiling fan/light.

It’s quite responsive, however, it takes a while for HomeKit to reflect the current state of the

[2020-01-20 22:30] rhuss2 commented on #53
I’m getting this same error.
I have 4 fans setup on Bond.

Homebridge] [1/20/2020, 5:27:59 PM] [Bond] ERR: A request error occurred: Error: getaddrinfo ENOTFOUND undefined undefined:80
[Homebridge] [1/20/2020, 5:27:59 PM] [Bond] Error getting device ids: TypeError: Cannot convert undefined or null to object
[Homebridge] [1/20/2020, 5:27:59 PM] [LG OLED 65 in TV] webOS - connected to TV
[Homebridge

[2020-01-22 22:02] thomasmaxson commented on #53
@aarons22 is there any help/assistance that you can offer with these issues?

[2020-02-01 09:04] OCCMakaveli23 opened #63 "Getting an "Invalid JSON in an platform""
Followed all the instructions and no matter what I try, I cannot save...Using HOOPS. Any ideas? Thakn you!

[2020-02-01 20:57] mbriney opened #64 "Plugin crash when hub is offline"
**Describe the bug**
The plugin crashes when the hub goes offline.  It then causes Homebridge to not load.

[code]

**Expected behavior**
Ideally, if the hub wasn't found it would just persist in homebridge until the connection could be re-established.

**Information (please complete the following information):**
 - Bond firmware version: 2.10.8

[2020-02-02 21:52] aarons22 commented on #63
Can you post your config file?

[2020-02-02 21:59] aarons22 commented on #62
I love this idea! I just read up on BPUP and I _think_ it should be pretty straight forward to implement, but I won't really know until I dig into it.

[2020-02-04 05:52] OCCMakaveli23 commented on #63
Hi Aaron! Thank you so so much for looking into this, I sincerely
appreciate it. No matter how I add the configuration of the IP
address/token of Bond it will not allow me to save it referencing a JSON
issue.  Here is the config file:

{
    "server": {
        "port": 8080,
        "origin": "*",
        "autostart": 0,
        "home_setup_id": "X-HM://0023ISYWYG1NH",
        "polling_seconds": 5

[2020-02-04 12:18] aarons22 commented on #63
Your bond platform config should look like this:
[code]

Where you replaced `<BOND_IP_ADDRESS>` with your IP and `<BOND_TOKEN>` with your token. You can find instructions [here](https://github.com/aarons22/homebridge-bond#configuration)

[2020-02-06 17:17] jdlambert commented on #62
I use BPUP a lot in my day-to-day, it's pretty stable as far as getting pushed state updates goes. Feel free to "at" me if you encounter any difficulties.

[2020-02-07 02:33] vdotn commented on #64
I just experienced this today and came here to suggest the same. +1 from me!

[2020-02-07 13:44] aarons22 commented on #62
@jdlambert thanks! I've used the pub/sub model in several other project so hopefully it isn't too much of a lift, but I'll be sure to reach out if I run into issues

[2020-02-10 03:35] OCCMakaveli23 commented on #63
Hi Aaron - that doesn't work:

[image: image.png]

Thanks for looking into this, I really appreciate it. Any ideas?

On Tue, Feb 4, 2020 at 4:18 AM Aaron Sapp <notifications@github.com> wrote:

[2020-02-10 13:13] aarons22 commented on #63
@OCCMakaveli23 can you post your updated config?

[2020-02-10 17:17] OCCMakaveli23 commented on #63
Hi Aaron - the config is exactly the same since I cannot save the new
config. I've tried different variations and cannot get anything to save the
config. It keeps referencing the JSON error. The Bond app is on version
2.10.8 and the HOOBS hub is up-to-date. Anything else you can think of?

On Mon, Feb 10, 2020 at 5:13 AM Aaron Sapp <notifications@github.com> wrote:

[2020-02-11 13:00] aarons22 commented on #63
I am unfamiliar with the HOOBS hub, but unless you define the `ip_address` and `token` in your config file (similar to how you have `email` and `password` configured for Nest), it won't work.

[2020-02-11 13:01] #56 closed

[2020-02-11 19:37] mdombrowski13 opened #65 ""include_dimmer: True light showing up as on/off switch and on/off light bulb not dimmer"
**Describe the bug**
When enabling the "include_dimmer: True command the light shows up as both a Light(On/Off) and a Switch (On/Off) to homekit. Neither option allows dimming just on/off functionality.  Device works as expected in BOND App though.

IE:
Master Bedroom Fan (fan) - works 0%/33%/66%/99%
Master Bedroom Fan Light (Bulb) - Works on/off
Master Bedroom Masterbedroom Fan Dimmer (switch) -

[2020-02-15 19:15] aarons22 commented on #65
Unfortunately, there is no way to control the dimming level of a light through bond. The way dimming works is a `StartDimmer` command makes the Bond send a continuous dim command to the fan (as if you were holding down the dim button on your remote), and then the `Stop` command stops the Bond from sending that command (as if you released the dim button).

You can find more details [here](http://do

[2020-02-15 19:15] #65 closed

[2020-02-15 19:22] aarons22 commented on #53
A couple questions/thoughts:
- Is your homebridge being run through a docker container or something of the like?
- Can you run this plugin in debug mode and provide the logs? You can find instructions for that [here](https://github.com/aarons22/homebridge-bond#debug-mode)
- Did your bond account get migrated from v1? The error `Cannot convert undefined or null to object` leads me to believe the da

[2020-02-15 19:41] aarons22 commented on #9
Hello! It's been a while since this issue was opened, but I just added support for the Fireplace device in [2.5.4](https://github.com/aarons22/homebridge-bond/releases/tag/2.5.4). This supports basic on / off commands via the Flame commands.

Please let me know if you run into any issues!

[2020-02-19 03:31] andersot72 commented on #9
Hello - Thanks for making this it's awesome! I just updated to 2.5.4 and restarted homebridge my fireplace doesn't show up in homebridge just my 3 fans. I did the rm -rf ~/.homebridge/accessories/cachedAccessories to remove cached accessories figured it would force an add it didn't. See log - any ideas?  Thanks in advance
[2/18/2020, 9:30:07 PM] [Bond] Getting devices...
[2/18/2020, 9:30:07 PM] [B

[2020-02-19 03:32] MXNPD commented on #9
Same issue here, I even removed the plugin, restarted, removed cached accessories, restarted, then re added the plugin, restarted, and it still would not see the fireplace

[2020-02-19 13:27] aarons22 commented on #9
Interesting, it should at least show up in the logs. Can one of you provide a screenshot of your Fireplace device commands in the bond app? I don't actually have a fireplace control, and just used my fan light as a fake fireplace, so it's possible I didn't replicate it correctly.

[2020-02-19 17:38] andersot72 commented on #9
Sure thing.  Here are two screenshots from the bond app.
![IMG_56A1396B065D-1](https://user-images.githubusercontent.com/15650846/74858724-6c016d80-530b-11ea-8228-5ae61d71e066.jpeg)
![IMG_86FD3F6E4940-1](https://user-images.githubusercontent.com/15650846/74858754-758ad580-530b-11ea-80f0-93279efa7f3c.jpeg)

I also did some digging with the bond api http://docs-local.appbond.com/#section/Introductio

[2020-02-19 17:53] methnen commented on #9
For what it's worth. This update worked fine for me.

The Fireplace did show up in HomeKit as a simple switch though not as an actual fireplace.

But that's probably the best choice since HomeKit doesn't have device type for Fire Places though it DOES have one for a heater that might require some additional stuff that make it not make sense int this situation?

[2020-02-19 17:56] methnen commented on #9
@andersot72 I've had a few cases where devices didn't show up because of Homebridge caching issues.

There's a CachedAccessories directory or file somewhere (I'm blanking on where it is) that you can delete and it'll force Homebridge to rebuild the cache on the next restart.

Not sure that's the solution for you but worth a try perhaps.

[2020-02-19 18:15] aarons22 commented on #9
@andersot72 This is super helpful! Can you try removing the fireplace and re-adding? I've seen that fix issues in the past where the device was created with the old API or get messed up in migration. Since @methnen is seeing the fireplace, I'm wondering is that is the issue...

[2020-02-24 18:17] dxdc opened #66 "cachedAccessories problem when devices are removed from Bond"
**Describe the bug**
If devices are removed from the Bond app, but were previously associated with homebridge, it causes failure on start up. This could be for a missing command or a missing device. This prevents homebridge from loading.

For example:
[code]

**Expected behavior**
Graceful fallback to either/or remove devices from cachedAccessories or have it not be such an issue.

**Screenshots**

[2020-02-24 18:27] dxdc commented on #64
This error is related (in a way) to #66

Same error, but different reason that it appears.

[2020-02-24 21:54] dxdc commented on #66
This issue goes a bit deeper:

- Suppose the `reverse` option is originally added to a fan, but then deleted. HomeKit will still show this 'reverse' option until the accessory cache is purged.

- `homebridge-bond` appears to be naming devices as `Room Name Type`. This causes very strange names, as in `Master Bedroom Master Fan Fan`. Bond doesn't allow non-unique names so this seems redundant.

[2020-02-24 22:05] dxdc commented on #9
@andersot72 one thing I've seen is that if you go into `Device Settings` within the iPhone app, look for the word `Local Token`. If you don't see that, it means there was some problem as @aarons22 pointed out -- just delete, and re-add. All of my devices that are working properly all show the Local Token.

Also, for anyone who doesn't want to delete their entire cachedAccessories, see #66 where I

[2020-02-29 14:45] chrismerck commented on #66
On Mon, Feb 24, 2020 at 4:54 PM dxdc <notifications@github.com> wrote:

For what it’s worth, the best way to detect a change of Features on a
device would be the change to the keys in the device/state object.

But I do see how this would require a check at every state update.

I would probably help if we had a clearer device/features object that
updates exactly when features change :)

[2020-02-29 17:05] dxdc commented on #66
Agreed @chrismerck !

[2020-03-07 14:01] ntableman commented on #58
Sorry, I dont use reddit given their place in making the world less safe and harmonious. That and when it was sold for many millions all I got was a donut.

[2020-03-08 18:53] clean-ev commented on #63
@OCCMakaveli23 -

Finally got this running, however there are issues that I need to sort out with @aarons22 in a separate thread.

This is the config that worked for me. Note I am using Ring instead of Nest that you have.

   "platforms": [
        {
            "platform": "Ring",
            "plugin_map": {
                "plugin_name": "ring"
            },
            "hideAlarmSirenSwitch":

[2020-03-12 05:54] twentyNoise commented on #32
I'm still using an older version because I prefer to just tell Siri to set the Fan to 1, 2, 3, 5 or 6 instead of dealing with percentages. Is this still possible even though HomeKit shows the correct values now? That is, is it still possible to ask Siri to set the Fan to Speed 5 or just 5? etc.? If not, can I request that this be added as a feature?

Thanks!

[2020-03-12 11:39] aarons22 commented on #32
@twentyNoise feel free to open a new issue with the feature request!

[2020-03-12 11:42] aarons22 commented on #9
It sounds like deleting and re-adding fixes the issue. I'm closing this feature request, but any new bugs / feature improvements can be reported in a new GitHub issue

[2020-03-12 11:42] #9 closed

[2020-03-12 16:04] twentyNoise opened #67 "Fan Speed Numbers vs Percentages w/Siri"
I'm still using an older version because I prefer to just tell Siri to set the Fan to 1, 2, 3, 5 or 6 instead of dealing with percentages.

It would be great to be able to ask for these whole number speed changes OR percentages - or give us the option in the config.

The way I see this working is this:

1. Hey Siri set the Office Fan to 2
2. Siri Says "OK I set the Office fan to 2%"
3. The Fan obj

[2020-03-12 19:25] iRayanKhan commented on #67
I have code somewhere that does this. I will get back to you soon. As a temporary workaround; why not use Scenes?

[2020-03-12 19:37] twentyNoise commented on #67
Yes, version 2.1.0 does this but I think it was unintentional at first. I am still using this older version, and I'm assuming that the code is somewhere in the repository here?

Because I'm using this older version 2.1.0 and this works exactly as I have described I don't really need a workaround. But also, because of Apple's 100 scene limit I try to use Scenes as rarely as possible and I only have

[2020-03-12 20:06] iRayanKhan commented on #67
I believe [this](https://github.com/aarons22/homebridge-bond/releases/tag/2.1.0) is the source code you are looking for.

[2020-03-22 23:44] twentyNoise commented on #67
Yeah it would be great to be able to update the latest version and then specify an option in the Config to use this older Siri / Speed numbers.

[2020-04-01 04:38] cgapperi commented on #53
Just running into this issue myself. Things were running just dandy then, Spectrum reset my router for some reason. IP address for Bond was changed, but updated config file. Then I noticed an update to Homebridge. Did that and also a firmware update to Bond. Not sure which has caused the issue. Anyone else having similar issues with

Bond firmware: v2.10.21
Homebridge: homebridge-config-ui-x v4.13

[2020-04-02 12:22] chrismerck commented on #53
If the Bond is operable from the Bond Home app, but it is not reachable on the local network, it is likely that the IP address you are using to reach the Bond is no longer correct. The IP could have been reassigned by your network's DHCP server. I suspect that something in mDNS (not sure where the fault lies) could be caching old values of the IP address.

If someone catches this issue live, you c

[2020-04-02 12:32] aarons22 commented on #53
@chrismerck Yup, I was able to get BPUP working with some basic commands when I tried it out a few week back. How would we be able to detect a change in IP?

[2020-04-06 18:41] iRayanKhan opened #68 "Homebridge-Verification"
Hi Aaron,
Recently Oznu and the Homebridge team released [HomeBridge Verified](https://github.com/homebridge/verified). I think it would be great to have this plugin verified and add schema support for UI setup.

[2020-04-12 21:09] jman731 opened #69 "TypeError: bondData.map is not a function"
I have a Raspberry Pi with a freshly install os.  I am able to run homebridge with other plugins.  I have installed the homebridge-bond plugin.

Bond Firmware version: v2.10.21

My plug-in version is: /usr/lib
`-- homebridge-bond@2.5.4

I changed my config file to only the following:

{
        "bridge": {
                "name": "Homebridge",
                "username": "",
                "port"

[2020-04-13 18:14] aarons22 commented on #69
You need square brackets around your bonds value:
[code]

[2020-04-22 00:00] LeviJSmith commented on #64
I have this problem as well.

[2020-05-07 20:14] LeviJSmith commented on #64
Any news on a fix fir this.

[2020-05-08 13:24] aarons22 commented on #68
Great idea! Probably won't be able to get to this for a bit, but happy to take any PRs related to schema support for UI setup since I haven't utilized UI setup yet.

[2020-05-13 23:24] mservidio opened #70 "Fan device not showing in HomeKit app"
**Describe the bug**
I registered the Bond Bridge with HomeBridge and that appears to be initializing fine. However, I do not see the configured ceiling fan in HomeKit. I've confirmed the Bond Bridge is connected to WiFi, and it initializes in HomeBridge. Any ideas?

[code]

**Information**
[code]

 - Plugin version (run `npm list -g homebridge-bond` in terminal): 2.5.4
 - Bond firmware version: v

[2020-05-13 23:52] mservidio commented on #70
Issue was unrelated to Bond. I had used my instance of HomeBridge previously and had removed it from HomeKit. The 'Reset Homebridge Accessory' option fixed it for me through the HomeBridge UX.

[2020-05-13 23:52] #70 closed

[2020-05-17 00:55] othrside opened #72 "Increase/Decrease Speed"
Hi, I currently have a multispeed fan controlled by the bond device. The fan remote doesn’t have a traditional low/med/high. The commands programmed through the bond app are power on, power off, increase speed and decrease speed. I could not get the plugin to function without a max speed being defined. I set the max speed to the same button on the remote which is power on (defaults to high).

The

[2020-05-17 18:33] aarons22 commented on #68
Submitted request for verification: https://github.com/homebridge/verified/issues/77

[2020-05-17 18:33] #68 closed

[2020-05-17 19:50] iRayanKhan commented on #68
Thank you!

[2020-05-19 00:03] aarons22 commented on #66
@dxdc thanks for the valuable info! I don't _think_ there is a way to remove an accessory from the plugin at runtime, but I at least fixed the issue where the plugin crashes when an accessory has been removed. Can you check out [2.5.6](https://github.com/aarons22/homebridge-bond/releases/tag/2.5.6) and let me know if this has been resolved?

[2020-05-19 00:04] aarons22 commented on #64
Hey everyone! Finally got around to addressing this issue. This should be fixed in [2.5.6](https://github.com/aarons22/homebridge-bond/releases/tag/2.5.6)

[2020-05-19 11:30] dxdc commented on #66
@aarons22 thanks for making these changes! I'm not sure if it will have resolved though as by now I've long-deleted/re-added everything :)

I believe there is. This code does it live. I can add/remove accessories in another interface and they appear live in HomeKit. https://github.com/suderman/homebridge-isy-maker/blob/master/index.js

Something like this:
[code]

Also, `cleanupAccessoryData` is b

[2020-05-19 11:39] aarons22 commented on #66
Oh right 🤦‍♂️ well now I’ve got something else to try out 😄

[2020-05-19 15:42] LeviJSmith opened #74 "Bond no longer working after upgrading plugin to 2.5.6"
Greetings,

Upgraded Bond last night and this morning noticed that I was no longer able to control my fans using the Home app.  Everything worked ok in the Bond app.  I restarted my Homebridge service and noticed the following errors in the logs.  Anyone having this issue or know how to fix?  Possible bug with V 2.5.6??

5/19/2020, 9:29:08 AM [Bond] Error getting device ids: TypeError: Cannot conv

[2020-05-19 15:43] #69 closed

[2020-05-20 00:22] LeviJSmith commented on #74
Reverted back to V2.5.5 and no longer having the issue.

[2020-05-22 03:50] lherlitz opened #75 "Fix state"
Is there a way to add a “switch” in this plungin that I can toggle to simulate using the fix state option in the bond app? Sometimes my lights get the wrong state saved. I’d love to have an option to tell Siri to fix my light state.

[2020-05-22 04:04] allenlicn commented on #75
That will be nice. It will be even better if Bond just listens for the programmed frequency from the original remote and maintain the accurate state automatically.

[2020-05-23 18:13] aarons22 commented on #74
Hey @LeviJSmith, the key line is:

The latest release added an extra check to ensure a valid bond was found for each accessory, otherwise it would silently fail (if bond was offline or an accessory was removed). I'm not sure what your setup looked like prior to upgrading, but nothing has changed that would cause that line I highlighted to be different. Can you try [clearing cached accessories](htt

[2020-05-23 18:15] aarons22 opened #76 "Remove cached accessory when it has been removed from bond app"
**Is your feature request related to a problem? Please describe.**
A lot of context can be found on this issue: https://github.com/aarons22/homebridge-bond/issues/66

**Describe the solution you'd like**
Plugin should remove accessory from cache when it's no longer present in Bond app.

[2020-05-23 18:15] aarons22 commented on #66
Converting this to a feature request since the original issue has been solved: https://github.com/aarons22/homebridge-bond/issues/76

[2020-05-23 18:15] #66 closed

[2020-05-23 18:18] aarons22 commented on #75
This one is tricky since the plugin's goal is to always defer to the Bond as the source of truth. The end result would be an additional switch tile in homekit for every accessory, which would be a lot. I'll have to think this over.

[2020-05-23 18:19] #64 closed

[2020-05-23 18:20] #63 closed

[2020-05-23 18:30] aarons22 commented on #72
@othrside unfortunately, unless you have numbered speeds or you are using a Bond branded fan that reports a max_speed, I'm not sure the plugin can support granulated fan control. The plugin uses the max_speed to calculate how many speeds are present and converts that to a percentage (i.e. max_speed of 3 equates to 1,2,3, which are speed values that get sent to the bond, and homekit percentages of

[2020-05-23 19:29] aarons22 commented on #67
Added support for this in [2.6.0](https://github.com/aarons22/homebridge-bond/releases/tag/2.6.0)! I tested speeds 1, 2, 3 with my fan and it seems to work well, but haven't done a ton of thorough testing beyond that. Please let me know if you run into any issues!

[2020-05-23 19:29] #67 closed

[2020-05-23 20:53] jnanes commented on #26
any progress on this by chance? :) @aarons22

[2020-05-24 01:48] LeviJSmith commented on #74
That did the trick.  Thanks for your help.  Have a good weekend!

[2020-05-24 01:48] #74 closed

[2020-05-24 06:04] dxdc opened #77 "ETIMEDOUT when polling multiple devices"
**Describe the bug**
When polling multiple Bond devices simultaneously, one of them intermittently fails with this error -- and only sometimes, but it is seems to always be this device when it does fail.

Note that my 3 blinds being polled simultaneously work fine, but the problematic one is an on/off switch is causing the problems. Note that I'm polling 4-5 devices at once.

1|homebrid | [5/24/20

[2020-05-24 06:13] dxdc commented on #77
For now, I've updated some of the dependencies, but wondering if requestretry maybe a better option.

[code]

[2020-05-24 11:49] aarons22 commented on #77
I’m actually on the process of updating the dependencies and removing `request`, `request-promise` and `bluebird` in favor of `axios` and native promises (`request` has been deprecated). I haven’t seen this issue myself but i can understand how it would happen. The plugin is pretty carefree with how many requests it sends.

I’m curious is cleaning up dependencies will solve your issue.

[2020-05-24 14:42] aarons22 opened #79 "Handle duplicate device id's across Bonds"
**Describe the bug**
Currently, the plugin assume a unique device id per device, but that isn't the case when there are multiple bonds. When two bonds exist (i.e. two Smart by Bond fans), it's possible that there are duplicate device ids between the two bonds.

**Expected behavior**
Plugin should generate UUID for accessory based on device AND bond.

**Example logs**
[code]

[2020-05-24 14:52] dxdc commented on #77
Thanks @aarons22. `axios` seems like a good option. I'm not seeing any changes (still getting an error every ~1-2 h), but may try `requestretry` next.

[2020-05-24 17:13] dxdc commented on #77
@aarons22 just pushed a PR using a simpler approach, which is working so far. Will keep you updated on its stability.

[2020-05-26 17:12] dxdc opened #81 "Prevent multiple "state" polling for the same device"
Each accessory is separately polled for state changes, even though the API returns the response for all of them. This results in 2-3x the number of API queries needed when polling for state.

I'm not sure if there is a convenient way to deal with this because of how homebridge/HomeKit works. I guess you could cache the response, but not sure this is ideal either.

I'm wondering about giving the op

[2020-05-26 18:57] RCdiy commented on #36
I added my somyfy shade remote to my bond today. What is the status of adding shade support?

[2020-05-27 03:55] theque9 commented on #36
I don’t have it working yet, but you can do this via https://github.com/dxdc/homebridge-blinds.

[2020-05-27 13:05] aarons22 commented on #26
Hoping to tackle this soon!

[2020-06-07 18:47] aarons22 commented on #79
Closed with #85

[2020-06-07 18:47] #79 closed

[2020-06-08 01:12] aarons22 commented on #26
I took a stab at this in [2.7.0](https://github.com/aarons22/homebridge-bond/releases/tag/2.7.0). I don't have a fan with the feature, which is one of the reasons it's taken me so long to try it out. I built it purely from the API docs, so it would be great if someone tested it out and confirmed this works!

Note: I didn't include dimming support for now because I want to get confirmation that thi

[2020-06-08 01:23] jnanes commented on #26
Aaron,

How would I access the 2nd light in HomeKit? Currently I can control the fan and the top tier of lighting In my fan via the homebridge plugin. I can not control the bottom tier via the plugin, but I can control it via the Bond app .
On Jun 7, 2020, 9:12 PM -0400, Aaron Sapp <notifications@github.com>, wrote:

[2020-06-08 01:37] aarons22 commented on #26
@jnanes You will need to upgrade the homebridge-bond plugin and likely clear cached accessories since it's using a new naming convention to account for the two lights

[2020-06-08 01:42] jnanes commented on #26
@aarons22 thanks Aaron. I updated the plugin, cleared my  cached accessories and restarted homebridge but my light with two tiers is only reflecting one lighting option .

[2020-06-08 01:46] aarons22 commented on #26
can you make sure you are on 2.7.1? I caught a typo in 2.7.0 almost immediately after I released it.

[2020-06-08 01:47] jnanes commented on #26
I am, :) I saw the 2nd release but no dice
On Jun 7, 2020, 9:46 PM -0400, Aaron Sapp <notifications@github.com>, wrote:

[2020-06-08 01:50] aarons22 commented on #26
gotcha. Would you mind running homebridge with `-D` flag and posting some logs? There are some assumptions I'm making and it would be good to validate based on your setup

[2020-06-08 01:59] jnanes commented on #26
[6/7/2020, 9:52:40 PM] [Bond] Request (185ca4684cba4000) [get http://10.9.9.5/v2/devices]
[6/7/2020, 9:52:40 PM] [Bond] Request (185ca4684cbb8000) [get http://10.9.9.5/v2/sys/version]
[6/7/2020, 9:52:40 PM] [Bond] Response (185ca4684cba4000) [get http://10.9.9.5/v2/devices] - {"_":"0ce81ca1","60a21fa3":{"_":"3a047c03"},"01b1937d":{"_":"81412ae9"}}
[6/7/2020, 9:52:40 PM] [Bond] Response (185ca4684c

[2020-06-08 03:26] aarons22 commented on #26
Hm I’m not seeing the actions request, which is what I really need since everything is based on that.

[2020-06-08 11:35] jnanes commented on #26
[6/7/2020, 9:52:40 PM] [Roomba] Reporting that we support AccessoryInformation, SwitchService and BatteryService
[6/7/2020, 9:52:40 PM] [Bond] Request (185ca4684cba4000) [get http://10.9.9.5/v2/devices]
[6/7/2020, 9:52:40 PM] [Bond] Request (185ca4684cbb8000) [get http://10.9.9.5/v2/sys/version]
[6/7/2020, 9:52:40 PM] [Bond] Response (185ca4684cba4000) [get http://10.9.9.5/v2/devices] - {"_":"0ce8

[2020-06-08 14:58] montanaishome commented on #77
Having same issue.  Tried updating to the new plugin released on 5/23/2020, but the devices on the bond are still failing.  The log is showing this error:

6/8/2020, 6:35:55 AM [Bond] Error getting devices: TypeError: Cannot convert undefined or null to object
6/8/2020, 6:36:00 AM [Bond] A request error occurred: Error: ETIMEDOUT
6/8/2020, 6:36:01 AM [Bond] A request error occurred: Error: ESOCKET

[2020-06-08 15:19] KCFT23 opened #87 "Error getting devices: TypeError: Cannot read property 'filter' of undefined"
I updated to 2.7.1 today and I am getting the following error when trying to load my bond device: "Error getting devices: TypeError: Cannot read property 'filter' of undefined"

I have tried the usual steps: rolling back the plugin, stopping and restarting homebridge, reinstalling the plugin, removing the device and files in "persist", etc.  I still get the same error after trying to add the devic

[2020-06-08 16:00] KCFT23 commented on #87
Some more info...
I turned on "debug" and I can see there is communication between homebridge and the bond device.  It successfully finds the device, but the error seems to happen when it is reading its properties.  My device responds with the following properties:
{"max_speed":6,"feature_light":true,"feature_brightness":true,"breeze_max_speed":6,"breeze_min_speed":1,"breeze_period":30,"_":"NNNNNN

[2020-06-08 16:47] bnowacky commented on #87
I'm having the same results:
- Plugin 2.7.1
- Firmware 2.10.12
- Homebridge 1.1.0

Logs:
  `/v2/devices/1] - {"name":"ceiling fan","location":"Office","type":"CF","actions":["TurnOn","TurnOff","TogglePower","SetSpeed","IncreaseSpeed","DecreaseSpeed","TurnLightOn","TurnLightOff","ToggleLight","SetBrightness","IncreaseBrightness","DecreaseBrightness","CycleBrightness","SetTimer","BreezeOn","BreezeOf

[2020-06-08 16:50] KCFT23 commented on #87
ok, I though rolling back did not help.   However, when I rolled back to 2.6.0 it works fine.  So apparently it broke with 2.7.0.  I will keep using 2.6.0 until there is a fix.  Thanks

[2020-06-08 17:06] dxdc commented on #77
@montanaishome your issue seems unrelated. Did you double check your IP address & token?

[2020-06-08 17:08] dxdc commented on #77
Try also the following at the command line, modifying your IP address/token and make sure you get a valid response:

[code]

[2020-06-08 23:09] vdotn commented on #26
@aarons22 I can confirm the same - cleared cached accessories, reloaded with 2.7.1, no 2nd light.

Happy to jump on a slack chat if you want to debug in realtime. Otherwise let me know what outputs may be helpful. Looks like you already got a config dump above.

[2020-06-09 01:39] othrside commented on #87
Same issue

[2020-06-09 01:55] plainsane commented on #75
I had added this long ago.  The problem is that the bond can’t maintain state is someone cycles the light from outside of the bond app.  It’s worth adding back in from my point of view

[2020-06-09 02:03] vdotn commented on #75
When you say "the bond is the source of truth" do you also mean that each accessory refreshes its state against the Bond at some interval? If that's the case then a 'reset' switch wouldn't actually help anything because the Bond would set the light back to whatever the Bond thinks the state is. This switch is a throwback to the old behavior of the v1 plugin where communication was unidirectional w

[2020-06-09 02:22] aarons22 commented on #26
Looks like it was a simple logic issue where I had the sides slipped. It _should_ be working now in 2.7.2, but of course, let me know if it doesn't work 😄

[2020-06-09 02:24] aarons22 commented on #87
Sorry about that! I can't reproduce locally but attempted to fix this in 2.7.2. If that doesn't work, I will need more detailed logs with `homebridge -D` so I can see if there was something else happening around the time the error is thrown.

[2020-06-09 02:32] aarons22 commented on #75
There is an API for this: http://docs-local.appbond.com/#tag/Device-State/paths/~1v2~1devices~1{device_id}~1state/patch

So technically it's possible, but the concern is the extra switch. I like the approach of making it optional. I wish Homekit had a single button tap thing things like this instead of falling back on the switch, which always feels to hacky.

[2020-06-09 02:39] vdotn commented on #26
Now works for me, thanks Aaron!

Unrelated question but this has been bugging me - do you know why my living room fan has a little light button (now two!) under the fan speed slider, but my bedroom fan has, and always has had, a light switch next to the fan speed?

[2020-06-09 02:42] aarons22 commented on #26
@vdotn do you have a dimmer for the living room? I was experimenting with this yesterday because I was curious myself. AFAICT, this has something to do with adding a Switch to the accessory, and homekit wanting to give that right side space to the switch (especially when light is just on/off). Definitely something I am going to dig into more when I add dimming for up/down light!

[2020-06-09 02:47] vdotn commented on #26
Both fans are capable of dimming but this pre-dates you implementing dimmer. And I also don’t enable it for the plugin.

However, yes in the bond app one fan has “Light” and “Dimmer”, and the other has “Top Light” and “Botton Light” because I deleted the dimmer buttons.

[2020-06-09 04:38] cirrusflyer opened #88 "out of sync"
I can't seem to get my fan with two lights to stay in sync.  I'm running the latest version of Bond firmware and latest version of this plugin.  It's the lower light of a two light fan.  I'll have them in sync, but then it seems Homebridge changes the state to on, no matter what the actual state.  I've tried multiple methods using the state fix in the Bond app and using the real remote.

[2020-06-09 05:06] patgmac commented on #87
I'm getting the same error as well, with 2.7.2.
I'm not sure how to get the detailed logs, as "homebridge -D" seems to run an old HB config for me.

[2020-06-09 05:08] bnowacky commented on #87
No luck on update. The results I posted previously were all that was output to logs with -D enabled in homebridge. Not a lot of additional info.

I’m guessing it’s just trying to iterate over the array before it’s set somewhere, which is why it’s undefined,  but that’s just a guess.

[2020-06-09 13:18] cirrusflyer commented on #88
Let me add that I had upgraded to latest version, then cleared the device cache so I could see both upper and lower lights.  I just did the same on another fan, and same problem.  Not matter the light state, when returning to the Home app, and after it refreshes, it shows one of the two lights on.  When it is not on.  No matter what.

[2020-06-09 16:06] sandeen opened #89 "RFE: Option to exclude light control"
Many fans have a light kit which is optional and may not be installed.

A config option to _not_ expose a light service for fans which have no light kit installed would be nice, to declutter the interface and remove controls for physical devices which don't exist.

[2020-06-09 16:16] sandeen commented on #89
Never mind - I see now that if I delete the light controls in the Bond app, the plugin DTRT.  Sorry for the noise!

[2020-06-09 16:16] #89 closed

[2020-06-09 17:18] chrismerck commented on #89
For what it's worth, there's also "Feature Toggles" on Smart by Bond fans (as distinct from fans connected via Bond Bridge). So, if the fan comes from the factory with a Bond chip inside and a light kit, but you decide to remove the light kit (the brands often sell cover plates), then you can select the option in the app to disable the light feature (under Device Settings > Manage Light & Dimmer).

[2020-06-09 17:19] chrismerck commented on #89
And,

Indeed! When you delete the "command" the Bond API responds by not exposing the corresponding "feature" ("actions", "state", and "properties") anymore. So the plugin doesn't have to worry about the details.

Probably TMI, but there's always interesting discussions on this repo, so I cannot help myself :).

[2020-06-09 19:55] aarons22 commented on #87
Thanks all - I've got a family wedding this weekend so I won't be able to look at this until sometime next week at the earliest. Please use 2.6.0 for now if you are having issues!

[2020-06-12 01:56] sandeen opened #90 "max_speed 3 fan yields speed array of only [1,3] due to nr of SetSpeed commands"
I have a  [Hunter 99375](https://www.hunterfan.com/products/ceiling-fan-accessories-universal-ceiling-fan-wall-control-99375) remote, [FCC ID TX47](https://fccid.io/IN2TX47) which is a 3-speed remote.

Bond recognized the remote properly by its FCC ID and set it up for me.

Bond reports max_speed of 3, but the array of values from fanSpeeds() is only [1,3], because Bond configured a "min speed" an

[2020-06-12 02:00] sandeen commented on #90
Maybe this is an issue for Bond to fix in the remote database?  The remote itself has speed up / speed down buttons, not discrete speed 1 / speed 2 / speed 3 buttons, so it's a bit odd that the Bond app sets it up with speed up / speed down / speed min / speed max ...

[2020-06-12 02:14] sandeen commented on #90
Oh... Ok, I bet this is also not a bug on either end.  If the remote cannot send a discrete speed, it probably sends "up up up" to get to max, and "down down down" to get to min, and cannot explicitly set a medium speed.  Crud.  Shoulda bought the [MinkaAire RCS223](https://www.minkagroup.net/rcs223.html) I guess.

So this is probably also notabug, now that I think about it.

Maybe keeping a list

[2020-06-12 04:01] sandeen commented on #90
Sorry again for resolving my own issues.  ;)  I think this must be NOTABUG, though it might be nice to add this type of caveat to the docs for the plugin.

[2020-06-12 04:01] #90 closed

[2020-06-14 19:56] aarons22 commented on #87
@knavabi can you run homebridge in debug mode and post your logs? (`homebridge -D`)

[2020-06-15 20:36] knavabi commented on #87
@aarons22 Here you are:
[6/15/2020, 1:32:59 PM] [Bond] Configuring Accessory: Master Bedroom
[6/15/2020, 1:32:59 PM] TypeError: Cannot read property 'filter' of undefined
    at Object.fanSpeeds (/usr/lib/node_modules/homebridge-bond/dist/interface/Device.js:68:14)
    at BondPlatform.setupFanObservers (/usr/lib/node_modules/homebridge-bond/dist/platform.js:279:40)
    at BondPlatform.setupObserve

[2020-06-15 20:47] knavabi commented on #87
It is working competently fine when downgraded to v2.6.0.

[2020-06-15 20:52] aarons22 commented on #87
Thank you this is super helpful! Seeing the files / line where it's happening makes it very easy to debug

[2020-06-15 22:38] cirrusflyer opened #91 "fan direction"
I have an Homekit automation to start the ceiling fan when motion is detected in the room.  The fan is switch reversible.  Every time the automation runs, the fan will start clockwise, but I want it running counterclockwise.  I redid the automation while the fan was running counterclockwise hoping it would keep that setting, but no.  If I reverse the fan using the bond app, the next time the Homek

[2020-06-16 05:15] StumbleNOLA commented on #88
Thank you so much for this plugin. I wish I had gotten it a year ago!

Would it be possible to add a ‘sync’ button that would change the state of a fan shown in HomeKit without sending a command to the fan? I have a lot of fans with just a power button for the light, and if they get out of sync I am forced to go scrounge for the remote to get them back in sync.

[2020-06-16 12:40] chrismerck commented on #88
From a Bond API perspective, this can be done via PATCH to devices/x/state.light. (That causes Bond to update its state belief without any transmission.)

[2020-06-19 00:03] aarons22 commented on #87
@knavabi I appreciate the logs, it was a lot easier to track down. I'm hoping 2.7.3 fixes the issue!

[2020-06-19 00:10] bnowacky commented on #87
Just updated and looks like it's working. At least it was a simple update, and null vs. undefined is the reason Javascript is such a hated language :)

Thanks @aarons22 ! !

[2020-06-19 00:14] #87 closed

[2020-06-19 00:38] KCFT23 commented on #87
thank you!  it works fine now

[2020-06-19 02:51] aarons22 commented on #77
@dxdc if 2.7.4 works, I think we can close this issue?

[2020-06-19 15:52] dxdc commented on #77
No issues after testing so far... thanks @aarons22 ! I'll close this for now and monitor.

[2020-06-19 15:52] #77 closed

[2020-06-20 21:45] aarons22 commented on #88
@vdotn can you provide some debugs logs for when your two light fan gets out of sync? would love to see what I'm missing about the state

[2020-06-20 21:46] aarons22 commented on #88
@StumbleNOLA there is a feature request for that here: https://github.com/aarons22/homebridge-bond/issues/75

[2020-06-21 13:35] sandeen opened #93 "Log is overly verbose"
The bond plugin is quite chatty by default as compared to other plugins:

[code]

i.e. there's probably no need for this message here, unless debug is enabled:

[code]

I'd send a PR but it's just a 1-liner to consider.  Thanks :)

[2020-06-23 01:09] aarons22 commented on #93
I think this is a fair point. I've updated it in the repo, so it'll be included in the next version. Thanks!

[2020-06-23 01:09] #93 closed

[2020-06-23 02:06] sandeen commented on #93
Thanks!

[2020-06-24 11:56] Silmar-99 opened #94 "Adding instructions for "Smart by BOND" devices"
I was pleased to discover (after some research and trials and errors) that "Smart by BOND" devices are/may also be compatible with your plugin.

I do have a Universal Fan Remote, power by BOND for the remote part (see here: https://www.homedepot.com/p/Universal-Smart-Wi-Fi-4-Speed-Ceiling-Fan-Remote-Works-with-Google-Assistant-SmartThings-and-Alexa-99434/311264804) that I was able to integrate in

[2020-06-25 22:32] sebastiangoldstein opened #95 "Non-Stop BOND HOOBS reporting"
**Describe the bug**
Kind of a NOOB at HOOBS but most of my log is nonstop bond messages that look like this:

6/25/2020, 6:14:38 PM [Bond] got value: false
6/25/2020, 6:14:38 PM [Bond] got value: true
6/25/2020, 6:14:38 PM [Bond] got value: 1
6/25/2020, 6:14:38 PM [Bond] got value: true
6/25/2020, 6:14:38 PM [Bond] got value: 0
6/25/2020, 6:14:38 PM [Bond] got value: false
6/25/2020, 6:15:06 PM [

[2020-06-29 22:41] methnen opened #96 "Having trouble with light toggle no longer functioning..."
For the last several days I've been unable to get the light toggle to work anymore.

The light toggle works via the Bond app fine but when I do it via the Homebridge Accessories panel or in HomeKit nothing happens.

I can't say for certain that this happened after updating Homebridge to the latest but I think it coincides with it.

Homebridge version:
Version 1.1.1

Plugin version (homebridge-bond

[2020-07-03 03:00] Silmar-99 opened #97 "More than one "Smart by BOND" devices not detected"
When adding a second "Smart by BOND" fan+light, with a different fixed IP and Local Token, only the first one listed is recognized.

I already have a MBR Fan and I'm adding a DR Fan. Only the MBR Fan is showing up.

When putting a "dummy" token in the plugin for the MBR Fan, now it's the DR Fan which is actually under the MBR Fan. MBR Fan is not responding to any commands, and DR Fan is the one wo

[2020-07-07 23:42] aarons22 commented on #95
This was noted here: https://github.com/aarons22/homebridge-bond/issues/93

It’ll be fixed in the next release!

[2020-07-07 23:42] #95 closed

[2020-07-09 00:34] wagnerec opened #98 "Stalling home bridge with undefined error"
**Describe the bug**
Stall's home bridge on status query and show in the log:
[7/8/2020, 2:27:03 PM] [Bond] A request error occurred: undefined
[7/8/2020, 2:27:03 PM] [Bond] A request error occurred: undefined
[7/8/2020, 2:27:03 PM] [Bond] error getting value: TypeError: Cannot read property 'power' of undefined
[7/8/2020, 2:27:03 PM] [Bond] error getting value: TypeError: Cannot read property 'li

[2020-07-09 00:35] wagnerec commented on #98
Plugin version is 2.7.4, misread the output of the command.

[2020-07-09 04:58] methnen commented on #96
Alright, I believe I found the issue though I'm unsure how to resolve it now.

I uninstalled the plugin and reinstalled it and this time it created Fan Up Light and Fan Down Light buttons. My fan does not have an Up Light and when clicking that one nothing happens. I'm guessing something got crossed in the wires and with my previous setup of the plugin that light toggle was trying to switch the no

[2020-07-11 17:02] methnen commented on #88
I think my issue is somewhat tangentially related to this one. I have a top light showing in HomeKit despite not having one setup in the Bond app. Additionally the bottom light is now completely out of sync with the Bond app. When HomeKit says it's on it's off. The Bond app has it correct though. I've tried fiddling with it to no avail so far. Also on all of the latest versions for everything.

[2020-07-14 13:30] joebiber commented on #72
Hey- I am kind of confused by this answer. I got a bond yesterday and this morning have added my fan. Like the OP, my remote has an off button, a reverse button, and speed plus and speed minus... homebridge-bond reports "no max speed property" in the log and thus doesn't add it.. but I don't really care about that! I don't care if my home bridge doesn't report the current speed of my fan... I just

[2020-07-14 20:08] joebiber commented on #72
My work around was deleting my fan and re-adding it. This time I set 3 power levels and I learned them with the code on my remote for "speed plus". This allows me to have all the functionalities of my fan as long as I increase power incrementally i.e if I set power from off to 33% then 66% then 99% I can get to speed 3. If I set from off to 99% obviously I only get to 33% as the command there is j

[2020-07-19 21:31] wratran commented on #36
I cant get the homebridge blinds to work....please update Bond pluging with shade support.
This is one of the best usefull plugin

[2020-07-20 01:00] dxdc commented on #36
@wratran I'm the developer of homebridge-blinds. If you have a problem installing it, please open an issue here: https://github.com/dxdc/homebridge-blinds/issues

It works flawlessly on my Bond blinds.

[2020-07-21 12:37] rwgunther commented on #36
I’d love to see this in homebridge-bond, as well. Even just open/close without state tracking would be a great first MVP!

[2020-07-21 12:38] dxdc commented on #36
You guys saw https://github.com/aarons22/homebridge-bond/pull/86 ?

[2020-07-21 13:19] jdlambert commented on #97
Oh, probably because they have the same device ID (`1`). Unlike Bond Bridge devices, which have randomly-generated 32-bit hex IDs, Smart-by-Bond devices have fixed IDs.

I seem to recall this codebase expects the device ID to be unique, right? This is a case where it'll be necessary to fully qualify each device with its Bond ID too.

[2020-07-21 13:38] Silmar-99 commented on #97
Hey there!

Actually, they do have an unique ID and Local Token, that's why I'm surprised only one is recognized.
Fan 1 ID: KNKSACG915XX
Fan 2 ID:KNKSADE428XX
Fan 3 ID: KNKSACG923XX

So how do you "fully qualify each device with its Bond ID too"? Even if I enter all three in the Settings of the Plugin, only the first one is recognized...

[2020-07-21 14:33] jdlambert commented on #97
Yeah, these "Bond IDs" are exactly what's needed to disambiguate here! A while back there was [an issue](https://github.com/aarons22/homebridge-bond/issues/52) with Bond Bridge devices with the same "device ID" not loading properly, with "device" here meaning an individually-controllable unit exposed by the [Bond API](http://docs-local.appbond.com/#tag/Devices). For your SBB fans, they've all got

[2020-07-21 15:26] Silmar-99 commented on #97
Thanks Jacob for taking the time to explain and troubleshoot for me. However, I'm a total illiterate when it comes to Homebridge programming and other "stuff". as I guess I get most of what you are saying above, could you please clarify the following:

- As there something I can do, right now, to resolve the issue (like adding the ID in the config script) and if yes, how would I do that?
- Or is i

[2020-08-02 15:38] aarons22 commented on #97
There was a fix for this back in 2.7.0. The plugin using the convention `<bond id><device id>` (see [here](https://github.com/aarons22/homebridge-bond/blob/master/src/platform.ts#L96)). You may need to clear cached accessories for it to work since the id is generated when accessories are added.

If you enable debugging by adding the `-D` flag when starting homebridge (i.e. `homebridge -D`), you sh

[2020-08-03 17:48] Silmar-99 commented on #97
Hey Aaron,

Thanks for the above, however and as mentioned before I'm a total rookie when it come to the different actions you are listing above...

Are you suggesting the fix was in 2.7.0 and it is not in the new versions of the plugin, so I do need to go and add that to your code? I wouldn't even know where to start to do so...

I will also have to look on how to clear the Bond cached accessorie

[2020-08-16 06:01] DeeeeLAN commented on #72
@aarons22 what about adding toggle switches similar to the light dimming toggles that when turned on would incrementally increase or decrease the speed, then turn them back off to stop?

[2020-08-18 15:23] rwgunther commented on #36
Is there a target date for getting #86 into the main branch? New Pico remotes just arrived today, and I'm eager to get those up to control my Bond-managed shades!

[2020-08-18 17:28] aarons22 commented on #36
Sorry ya'll, haven't a ton of time for this repo lately, but I'll try to get #86 out in the next week or two!

[2020-08-24 19:19] rwgunther commented on #36
It worked for me. I'd love to see support for Stop at some point, if that's exposed, but this is perfect to get some basic shade control. One thing I noticed is that the shades appear in HomeKit as controllable with a slider, even though we only really have open/close control. Sliding that control can yield some unpredictable results, sending multiple open/close commands as you manipulate the slid

[2020-08-24 19:52] chrismerck commented on #36
Perhaps while not closing the door to a slider. We're working on implementing percentage controller for certain shades, so for many devices this will become an option! This will be a `SetPosition` Action and a `position` state variable (range 1-100).

[2020-08-24 19:56] aarons22 commented on #36
@rwgunther this is a good callout. This is handled with fan percentages already so I can fix it pretty easily (sliding would snap to 0 or 100 %). would you mind opening a new issue so we can track it there?

[2020-08-24 21:35] rwgunther opened #100 "Shade control slider causes issues on shades that can only open and close"
With support for shades now available, HomeKit apps show shades as a slider, which can be adjusted up and down. Currently, though, shades can only be opened and closed—and even as you enhance shade support, Bond still only offers open/close/stop for some shades. The problem now is that if you adjust the slider, it can cause problems for the shades, sending multiple open/close commands.

It would b

[2020-08-25 03:23] aarons22 commented on #100
Thanks for opening the issue! This has been fixed in [2.8.2](https://github.com/aarons22/homebridge-bond/releases/tag/2.8.2)

[2020-08-25 03:23] #100 closed

[2020-08-28 18:27] Silmar-99 commented on #97
Hey Aaron and Team,

I was wondering if you have any update on my issue (I noticed the recent updates are focusing on shades, but who knows...)?

As I mentioned earlier, the plugin is not decking the two fans as different devices (see below), both different IP address and IDs:
==================
[8/28/2020, 1:16:58 PM] [Bond] Response (185d0d925d88c000) [get http://192.168.0.146/v2/devices] - {"1"

[2020-08-28 21:29] aarons22 commented on #97
@Silmar-99 happy to help. Just to confirm, have you [cleared cached accessories](https://github.com/aarons22/homebridge-bond/wiki/Clearing-Cached-Accessories)? If so, just need you to startup homebridge in debug mode so I can see some more granular logs. I've added some instructions on how to do that [here](https://github.com/aarons22/homebridge-bond/wiki/Enabling-Debug-Mode).

[2020-08-28 21:52] aarons22 commented on #97
To clarify, having debug logs specifically after cached accessories have been cleared is especially helpful in this situation because of the additional logs that occur while initially adding accessories.

[2020-08-30 01:19] aarons22 commented on #96
Hey @methnen! Sorry for the delay on this. The bond hub tells the plugin that there is an up / down light, so I would make sure your bond doesn't think that is the case. If it looks good on the app, I would recommend [clearing cached accessories](https://github.com/aarons22/homebridge-bond/wiki/Clearing-Cached-Accessories) and trying again.

If that doesn't work, please run your homebridge in[ deb

[2020-08-30 01:20] #76 closed

[2020-08-30 01:22] aarons22 commented on #98
Are you still having this issue? It looks like all requests to the bond are failing.

If you are still having issues, please provide logs with [debug mode](https://github.com/aarons22/homebridge-bond/wiki/Enabling-Debug-Mode) turned on.

[2020-08-30 01:32] aarons22 commented on #91
Hey @cirrusflyer - I believe I have identified the issue and fixed it in [2.8.5](https://github.com/aarons22/homebridge-bond/releases/tag/2.8.5). Let me know if you are still having issues!

[2020-08-30 16:40] Silmar-99 commented on #97
Good morning Aaron,

Thanks a lot for willing to take some of your time to troubleshoot my issue.

I didn't clear my entire cached accessories because, as you will notice
looking at the attached log, I have a certain number of them and deleting
everything would take me hours to put back together (automations, sorting,
...), what I did, though was:

- Deleting individual Bond Item from the accessor

[2020-08-30 17:12] aarons22 commented on #97
@Silmar-99 Thanks for the detailed response! I understand about not wanting to clear all cached accessories. Maybe I'll add a property to the config to reset the homebridge-bond accessories 🤔

Anyways, the steps you took should be correct, although it looks like you may have hit a character limit in Github with the logs you posted. I'm only seeing a single Bond log. Would you be able to provide th

[2020-08-30 17:29] Silmar-99 commented on #97
Aaron,

Apologies, as I didn't realized we were chatting on GitHub, as I replied from my email (I was thinking we were chatting in private. Therefore I removed the entire log from my previous post).

Below a "cleaned" version of it as requested... Let me know...

[8/30/2020, 11:12:50 AM] [Bond] Request (185d100921fe4000) [get http://192.168.0.146/v2/devices]
[8/30/2020, 11:12:50 AM] [Bond] Request

[2020-08-30 18:22] aarons22 commented on #97
Thanks @Silmar-99, these logs were very helpful (specifically the line `[Bond] 1 has already been added`). Turns out the duplicate device id was preventing the Accessory from being created, I just didn't realize I had an extra check in there from before I "fixed" this issue before.

Should be fixed in [2.8.6](https://github.com/aarons22/homebridge-bond/releases/tag/2.8.6)!

[2020-08-30 18:24] aarons22 commented on #88
This bug should be fixed in the latest version!

[2020-08-30 18:24] #88 closed

[2020-08-30 18:24] #91 closed

[2020-08-30 18:31] Silmar-99 commented on #97
Yeah!
I'm glad I could help as much as I'm glad you will be able to fix it in the next version!
Thanks a lot for helping me with this one!

[2020-08-30 18:39] #97 closed

[2020-08-30 18:45] aarons22 commented on #72
@DeeeeLAN thanks for the thought, it helped me wrap my head around this a bit. Looks like there are `IncreaseSpeed` and `DecreaseSpeed` actions, which I think should do the trick!

[2020-08-30 18:45] #58 closed

[2020-08-30 19:29] Silmar-99 commented on #97
Hey Aaron,

Just installed the 2.8.6 version, restarted, removed the second fan,
restarted, added the second fan, restarted, but the problem is still the
same, the second fan is still not created as an accessory... :(

Jérôme Istin, KG5GIV
jerome.istin@gmail.com (Houston, TX - USA) - Motorcycle Marshal for the
MS-150 (http://main.nationalmssociety.org/BP-MS-150)

On Sun, Aug 30, 2020 at 1:39 PM Aa

[2020-08-30 19:43] aarons22 commented on #97
bummer. can you send logs again?

[2020-08-30 19:58] Silmar-99 commented on #97
Aaron,

Here you go...

[8/30/2020, 2:55:28 PM] [Bond] Response (185d103c15ffc000) [get
http://192.168.0.146/v2/devices] - {"1":{"_":"04fc29f9"},"_":"b503fc0b"}
[8/30/2020, 2:55:28 PM] [Bond] Response (185d103c16000000) [get
http://192.168.0.146/v2/sys/version] -
{"target":"breck-northstar","fw_ver":"v2.10.12","fw_date":"Mon Dec 30
18:52:52 UTC 2019","uptime_s":156280,"make":"Chungear Industrial C

[2020-08-30 20:20] aarons22 commented on #97
@Silmar-99 thanks again, I see the problem but I don't have a clear solution without breaking other folks setups. Going to think on it for a bit

[2020-08-30 20:36] vdotn commented on #88
Confirmed fixed, thanks Aaron! I was actually coming here to dump the logs you asked me fore 2 months ago (sorry!) and noticed I couldn't reproduce anymore haha

[2020-08-30 21:07] aarons22 commented on #97
@Silmar-99 Okay I think I may have it this time (🤞 ). You'll definitely need to remove the accessory from the cached accessories, but give 2.8.7 a try and let me know.

[2020-08-30 21:49] Silmar-99 commented on #97
Aaron,

I do have a good news and a bad one...
The good is you fixed the "recognition" issues. Both fans are not recognized and added to the list of accessories.
The bad is the controls are totally messed up... It seems that any commend I use for either the DR or MBR Fan are directed to the MBR (first in list one). Log below...

[8/30/2020, 4:21:02 PM] [Bond] Getting devices for this Bond (KNKSACG

[2020-08-31 02:11] wagnerec commented on #98
Yes, I just restarted it with Debug and its working for now but usually takes a few days run time to start occurring.

[2020-08-31 12:15] aarons22 commented on #97
@Silmar-99 once again your logs were very helpful! I'm surprised these bugs have existed for this long, so I appreciate you helping me get to the bottom of this. I believe I've fixed this new issue in the latest release.

[2020-08-31 13:30] Silmar-99 commented on #97
Good morning Aaron,

You are more than welcome! It is a win-win situation... You chase the bugs and I will have my dumb fan becoming smart in the process :)

I'm thinking I'm just pushing the envelope, since this configuration was probably not what you had in mind when you created the plugin. I just hope you efforts will be useful for others Users too.

It may still be "confidential" for now, but

[2020-08-31 23:15] DeeeeLAN commented on #72
Awesome! I think it would be nice to (at least optionally) have it automatically toggle off after sending the command, so if I wanted to increase or decrease multiple steps, I would have to keep toggling it. That would let me control the level a lot more discretely than just turning it on and back off when I think I am at the right speed.

[2020-09-01 01:00] aarons22 commented on #97
Hey @Silmar-99 - Let's try this again with 2.8.9. You'll definitely need to clear your bonds from the cached accessories.

[2020-09-01 02:37] Silmar-99 commented on #97
Hey Aaron!

You are definitively making progress here... I am now able to control both fans (light and fan) separately from the Homebridge interface.

BTW, not only I had to remove both cached accessories, but I also had to remove them from your plugin configuration, reboot Homebridge, and re-add them one by one.

What is still missing? I still have issues with HomeKit (but I'm not sure if it is o

[2020-09-01 11:08] aarons22 commented on #97
That's great to hear! I think your other issues will be resolved in the 3.0.0 version I'm working on. A lot of improvements to help speed network interactions. That should be ready soon!

[2020-09-01 11:31] Silmar-99 commented on #97
Great news!

I'm looking forward to it. Thanks again for all the help Aaron!

[2020-09-02 16:31] cleanev opened #101 "2.8.9 on hoobs does not load bond accessories"
**Describe the bug**
Plug-in version 2.8.9 does not load any bond accessories, throws errors

**Expected behavior**
Bond accessories loaded on prior version and worked well

**Information (please complete the following information):**
 - Plugin version (run `npm list -g homebridge-bond` in terminal)
 - Bond firmware version - 2.14.5
 - iOS version (if issue is related to Home app) - N/A

**Additio

[2020-09-02 17:28] sebastiangoldstein opened #102 "Bond stopped responding with latest update."
**Describe the bug**
A clear and concise description of what the bug is.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Information (please complete the following information):**
 - Plugin version (run `npm list -g homebridge-bond` in terminal)
 - Bond firmware version
 - iOS ve

[2020-09-02 17:31] sebastiangoldstein commented on #102
Describe the bug
BOND stopped responding to HOOBS after a recent update.

Expected behavior
Lights and fands no longer responding

Screenshots
If applicable, add screenshots to help explain your problem.

Information (please complete the following information):

Plugin version (run npm list -g homebridge-bond in terminal)
Up to Date
Bond
HOOBS Certified
2.8.9 published 8/31/2020 • 1 day ago

Bond

[2020-09-02 19:30] wagnerec commented on #98
Still getting the error. Here’s the Bond debug logs:

[9/2/2020, 7:50:36 AM] [Bond] Request (185d13fc484e0000) [get http://bd25373.local/v2/devices/00000018/state]
[9/2/2020, 7:50:36 AM] [Bond] Request (185d13fc484ec000) [get http://bd25373.local/v2/devices/00000018/state]
[9/2/2020, 7:50:36 AM] [Bond] Request (185d13fc484f4000) [get http://bd25373.local/v2/devices/00000018/state]
[9/2/2020, 7:50:

[2020-09-02 21:29] aarons22 commented on #101
Thanks for letting me know. Can you provide logs in [debug mode](https://github.com/aarons22/homebridge-bond/wiki/Enabling-Debug-Mode)? That helps me more easily identify issues.

[2020-09-02 21:29] aarons22 commented on #102
Thanks for letting me know. Can you provide logs in [debug mode](https://github.com/aarons22/homebridge-bond/wiki/Enabling-Debug-Mode)? That helps me more easily identify issues.

[2020-09-03 03:12] sebastiangoldstein commented on #102
Not really sure how to do that - I'm a relative NOOB at HOOBS.
However, all was working fine with the plugin for months before I updated (I think yesterday).
Since then, Apple Home app makes it look like its working but no effect on the Bond controlled fans.
Going through the Bond App still works fine.
I just tried to turn on a fanlight and a fan - this is what the log says.

9/2/2020, 11:06:46 PM

[2020-09-03 15:36] cleanev commented on #101
Hello @aarons22 -
I ended up trying these steps to get it to work
1. stop hoobs from webadmin gui
2. Rename /home/hoobs/.hoobs/etc/accessories/cachedAccessories to cachedAccessoriedOLD
Above did NOT work as new file is exactly the same size as old one

Checked /home/hoobs/.hoobs/etc/persist folder
1. Rename AccessoryInfo.MACADDR.json to OLD
2. Rename IdentifierCache.MACADDR.json to OLD
3. start ho

[2020-09-04 18:45] mdombrowski13 commented on #102
Same problem.

Homebridge 1.1.3
Homebridge Bond 2.8.9

As soon as I upgraded to v2.8.9 bond accessories no longer work in homebridge/homekit.

[2020-09-04 19:03] aarons22 commented on #102
Thanks all - sounds like something went wrong with some data migration. Going to look into it this weekend.

[2020-09-04 19:03] aarons22 commented on #101
Thanks @cleanev - sounds like something went wrong with some data migration. Going to look into it this weekend.

[2020-09-05 00:15] aarons22 commented on #101
oh wait I'm re-reading your steps. so you are no longer having an issue?

[2020-09-05 00:30] aarons22 commented on #102
@mdombrowski13 @sebastiangoldstein Can you Uninstall and reinstall the bond plugin? I know that isn't ideal if you have Scenes associated with your devices, but I had to make a breaking change in how I handle devices and the data migration I attempted apparently didn't work well for everyone. I promise this isn't something I would do if I didn't have to!

[2020-09-05 01:45] mdombrowski13 commented on #102
@aarons22 i’ll try to test it out this weekend.  I did try a roll back to 2.8.7 and its working flawlessly again.

[2020-09-05 01:46] aarons22 opened #103 "3.0.0 Beta release"
Hello! I just released a beta version of the 3.0.0 release. Most of the plugin has been re-written to be more scalable for different device types and use cases. There are also a few new features:

- **BPUP Support!** (#62)
  - This keeps the state of the HomeKit device in lockstep with the Bond, and it reduces the number of API calls by 3x! The end result is a much more seamless experience and (ho

[2020-09-05 01:49] #75 closed

[2020-09-05 01:49] #62 closed

[2020-09-05 01:50] #81 closed

[2020-09-05 01:51] aarons22 commented on #102
@mdombrowski13 if you are able to run your setup in debug mode (instructions [here](https://github.com/aarons22/homebridge-bond/wiki/Enabling-Debug-Mode)) and provide your logs, that would be very helpful!

[2020-09-05 02:19] sebastiangoldstein commented on #102
@aarons22, not sure if I'm running in debug or not, however, I think this is interesting...
Even though BOND app works fine HOOBS log shows this at startup:
my log show this at startup:

9/4/2020, 10:11:18 PM [Bond] 4 cached accessories were loaded
9/4/2020, 10:11:18 PM [Bond] Getting devices for this Bond (AJ14670)...
9/4/2020, 10:11:18 PM [Bond] 4 devices were found on this Bond (AJ14670).
9/4/2

[2020-09-05 02:23] #101 closed

[2020-09-05 02:38] sebastiangoldstein commented on #102
@aarons22,
I followed your suggestion above and uninstalled then reinstalled the HOOBS BOND Plugin.
That seemed to do the trick!
Found all 4 fans and added them to the default room in Apple Home.
Will rebuild Automations.
Thanks!

P9/4/2020, 10:25:54 PM [Bond] 0 cached accessories were loaded
9/4/2020, 10:25:54 PM [Bond] Getting devices for this Bond (AJ14670)...
9/4/2020, 10:25:54 PM [Bond] 4 dev

[2020-09-05 14:58] jnanes commented on #103
Hey Aaron,

Awesome update. I added the include_toggle_state option but it’s only showing for one of my fan/light combos that has a remote. Any ideas?

[2020-09-05 18:41] aarons22 commented on #103
@jnanes hm, not sure. I've got two fan/light devices and I just confirmed they both have the toggle switch. The toggle gets added to a fan device if it has a single light (Up / Down lights aren't supported at the moment).

Logs are the _most_ helpful thing you can provide. It's even better if you can provide logs while in debug mode (instructions [here](https://github.com/aarons22/homebridge-bond/

[2020-09-05 19:15] jnanes commented on #103
That’s it, it’s an up and down light.
On Sep 5, 2020, 2:41 PM -0400, Aaron Sapp <notifications@github.com>, wrote:

[2020-09-05 20:49] aarons22 commented on #103
@jnanes cool, I may try to get that in the next beta and have you test it since I don't have a fan like that

[2020-09-05 21:17] jnanes commented on #103
I’m game!
On Sep 5, 2020, 4:49 PM -0400, Aaron Sapp <notifications@github.com>, wrote:

[2020-09-06 00:11] chrismerck commented on #103
Excellent idea!  That will be a much better UI experience for these toggle-based lights.

[2020-09-10 19:36] mdombrowski13 commented on #102
@aarons22,

This did not solve it for me. I deleted all my bonds (2) and the 3 fans I have associated with it.  Started from scratch, deleted plug in and resinalled home bridge plug in from scratch.  even tried creating a new instance of homebringe just for the test.  Still nothing.  if i revert back to 2.8.7 they work instantly.

[2020-09-10 19:36] mdombrowski13 commented on #102
@aarons22,

This did not solve it for me. I deleted all my bonds (2) and the 3 fans I have associated with it.  Started from scratch, deleted plug in and resinalled home bridge plug in from scratch.  even tried creating a new instance of homebringe just for the test.  Still nothing.  if i revert back to 2.8.7 they work instantly.

[2020-09-10 19:36] mdombrowski13 commented on #102
@aarons22,

This did not solve it for me. I deleted all my bonds (2) and the 3 fans I have associated with it.  Started from scratch, deleted plug in and resinalled home bridge plug in from scratch.  even tried creating a new instance of homebringe just for the test.  Still nothing.  if i revert back to 2.8.7 they work instantly.

[2020-09-10 19:36] mdombrowski13 commented on #102
@aarons22,

This did not solve it for me. I deleted all my bonds (2) and the 3 fans I have associated with it.  Started from scratch, deleted plug in and resinalled home bridge plug in from scratch.  even tried creating a new instance of homebringe just for the test.  Still nothing.  if i revert back to 2.8.7 they work instantly.

[2020-09-10 19:36] mdombrowski13 commented on #102
@aarons22,

This did not solve it for me. I deleted all my bonds (2) and the 3 fans I have associated with it.  Started from scratch, deleted plug in and resinalled home bridge plug in from scratch.  even tried creating a new instance of homebringe just for the test.  Still nothing.  if i revert back to 2.8.7 they work instantly.

[2020-09-10 19:36] mdombrowski13 commented on #102
@aarons22,

This did not solve it for me. I deleted all my bonds (2) and the 3 fans I have associated with it.  Started from scratch, deleted plug in and resinalled home bridge plug in from scratch.  even tried creating a new instance of homebringe just for the test.  Still nothing.  if i revert back to 2.8.7 they work instantly.

[2020-09-10 19:36] mdombrowski13 commented on #102
@aarons22,

This did not solve it for me. I deleted all my bonds (2) and the 3 fans I have associated with it.  Started from scratch, deleted plug in and resinalled home bridge plug in from scratch.  even tried creating a new instance of homebringe just for the test.  Still nothing.  if i revert back to 2.8.7 they work instantly.

[2020-09-10 19:36] mdombrowski13 commented on #102
@aarons22,

This did not solve it for me. I deleted all my bonds (2) and the 3 fans I have associated with it.  Started from scratch, deleted plug in and resinalled home bridge plug in from scratch.  even tried creating a new instance of homebringe just for the test.  Still nothing.  if i revert back to 2.8.7 they work instantly.

[2020-09-10 19:36] mdombrowski13 commented on #102
@aarons22,

This did not solve it for me. I deleted all my bonds (2) and the 3 fans I have associated with it.  Started from scratch, deleted plug in and resinalled home bridge plug in from scratch.  even tried creating a new instance of homebringe just for the test.  Still nothing.  if i revert back to 2.8.7 they work instantly.

[2020-09-10 19:36] mdombrowski13 commented on #102
@aarons22,

This did not solve it for me. I deleted all my bonds (2) and the 3 fans I have associated with it.  Started from scratch, deleted plug in and resinalled home bridge plug in from scratch.  even tried creating a new instance of homebringe just for the test.  Still nothing.  if i revert back to 2.8.7 they work instantly.

[2020-09-10 19:36] mdombrowski13 commented on #102
@aarons22,

This did not solve it for me. I deleted all my bonds (2) and the 3 fans I have associated with it.  Started from scratch, deleted plug in and resinalled home bridge plug in from scratch.  even tried creating a new instance of homebringe just for the test.  Still nothing.  if i revert back to 2.8.7 they work instantly.

[2020-09-10 19:36] mdombrowski13 commented on #102
@aarons22,

This did not solve it for me. I deleted all my bonds (2) and the 3 fans I have associated with it.  Started from scratch, deleted plug in and resinalled home bridge plug in from scratch.  even tried creating a new instance of homebringe just for the test.  Still nothing.  if i revert back to 2.8.7 they work instantly.

[2020-09-10 19:36] mdombrowski13 commented on #102
@aarons22,

This did not solve it for me. I deleted all my bonds (2) and the 3 fans I have associated with it.  Started from scratch, deleted plug in and resinalled home bridge plug in from scratch.  even tried creating a new instance of homebringe just for the test.  Still nothing.  if i revert back to 2.8.7 they work instantly.

[2020-09-10 19:36] mdombrowski13 commented on #102
@aarons22,

This did not solve it for me. I deleted all my bonds (2) and the 3 fans I have associated with it.  Started from scratch, deleted plug in and resinalled home bridge plug in from scratch.  even tried creating a new instance of homebringe just for the test.  Still nothing.  if i revert back to 2.8.7 they work instantly.

[2020-09-10 19:36] mdombrowski13 commented on #102
@aarons22,

This did not solve it for me. I deleted all my bonds (2) and the 3 fans I have associated with it.  Started from scratch, deleted plug in and resinalled home bridge plug in from scratch.  even tried creating a new instance of homebringe just for the test.  Still nothing.  if i revert back to 2.8.7 they work instantly.

[2020-09-10 19:36] mdombrowski13 commented on #102
@aarons22,

This did not solve it for me. I deleted all my bonds (2) and the 3 fans I have associated with it.  Started from scratch, deleted plug in and resinalled home bridge plug in from scratch.  even tried creating a new instance of homebringe just for the test.  Still nothing.  if i revert back to 2.8.7 they work instantly.

[2020-09-10 19:36] mdombrowski13 commented on #102
@aarons22,

This did not solve it for me. I deleted all my bonds (2) and the 3 fans I have associated with it.  Started from scratch, deleted plug in and resinalled home bridge plug in from scratch.  even tried creating a new instance of homebringe just for the test.  Still nothing.  if i revert back to 2.8.7 they work instantly.

[2020-09-10 19:36] mdombrowski13 commented on #102
@aarons22,

This did not solve it for me. I deleted all my bonds (2) and the 3 fans I have associated with it.  Started from scratch, deleted plug in and resinalled home bridge plug in from scratch.  even tried creating a new instance of homebringe just for the test.  Still nothing.  if i revert back to 2.8.7 they work instantly.

[2020-09-10 19:36] mdombrowski13 commented on #102
@aarons22,

This did not solve it for me. I deleted all my bonds (2) and the 3 fans I have associated with it.  Started from scratch, deleted plug in and resinalled home bridge plug in from scratch.  even tried creating a new instance of homebringe just for the test.  Still nothing.  if i revert back to 2.8.7 they work instantly.

[2020-09-10 19:36] mdombrowski13 commented on #102
@aarons22,

This did not solve it for me. I deleted all my bonds (2) and the 3 fans I have associated with it.  Started from scratch, deleted plug in and resinalled home bridge plug in from scratch.  even tried creating a new instance of homebringe just for the test.  Still nothing.  if i revert back to 2.8.7 they work instantly.

[2020-09-10 19:36] mdombrowski13 commented on #102
@aarons22,

This did not solve it for me. I deleted all my bonds (2) and the 3 fans I have associated with it.  Started from scratch, deleted plug in and resinalled home bridge plug in from scratch.  even tried creating a new instance of homebringe just for the test.  Still nothing.  if i revert back to 2.8.7 they work instantly.

[2020-09-10 19:36] mdombrowski13 commented on #102
@aarons22,

This did not solve it for me. I deleted all my bonds (2) and the 3 fans I have associated with it.  Started from scratch, deleted plug in and resinalled home bridge plug in from scratch.  even tried creating a new instance of homebringe just for the test.  Still nothing.  if i revert back to 2.8.7 they work instantly.

[2020-09-10 19:36] mdombrowski13 commented on #102
@aarons22,

This did not solve it for me. I deleted all my bonds (2) and the 3 fans I have associated with it.  Started from scratch, deleted plug in and resinalled home bridge plug in from scratch.  even tried creating a new instance of homebringe just for the test.  Still nothing.  if i revert back to 2.8.7 they work instantly.

[2020-09-10 19:36] mdombrowski13 commented on #102
@aarons22,

This did not solve it for me. I deleted all my bonds (2) and the 3 fans I have associated with it.  Started from scratch, deleted plug in and resinalled home bridge plug in from scratch.  even tried creating a new instance of homebringe just for the test.  Still nothing.  if i revert back to 2.8.7 they work instantly.

[2020-09-10 19:36] mdombrowski13 commented on #102
@aarons22,

This did not solve it for me. I deleted all my bonds (2) and the 3 fans I have associated with it.  Started from scratch, deleted plug in and resinalled home bridge plug in from scratch.  even tried creating a new instance of homebringe just for the test.  Still nothing.  if i revert back to 2.8.7 they work instantly.